# Word2Vec

## Preprocessing

In [2]:
using DataFrames
using CSV

In [145]:
import Dates

In [141]:
df = DataFrame(CSV.File("2021-03-29__2021-05-07.csv"))

6860066×12 DataFrame
     Row │ storenum  business_date            transaction_key  item_key  item_ ⋯
         │ Int64     String                   Int64            Int64     Strin ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502  2021-03-29 00:00:00.000             1724    916755  D-10P ⋯
       2 │      502  2021-03-29 00:00:00.000             1724    710033  DEL S
       3 │      502  2021-03-29 00:00:00.000             1724         1  D-CAS
       4 │      502  2021-03-29 00:00:00.000             1725    700103  D-3PC
       5 │      502  2021-03-29 00:00:00.000             1725    710033  DEL S ⋯
       6 │      502  2021-03-29 00:00:00.000             1725         1  D-CAS
       7 │      502  2021-03-29 00:00:00.000             1726    710009  D-ZIN
       8 │      502  2021-03-29 00:00:00.000             1726    700103  D-3PC
       9 │      502  2021-03-29 00:00:00.000             1726    710033  DEL S ⋯
      10 │      502  2021-03-29 00:00:00.000             1726         1  D-CAS
      11 │      502  2021-03-29 00:00:00.000             1727    922023  D-10
    ⋮    │    ⋮                 ⋮                    ⋮            ⋮            ⋱
 6860057 │      670  2021-05-07 00:00:00.000             5317    922110  2P(TG
 6860058 │      670  2021-05-07 00:00:00.000             5317    450011  RWP>C ⋯
 6860059 │      670  2021-05-07 00:00:00.000             5317    914357  1P EG
 6860060 │      670  2021-05-07 00:00:00.000             5317         8  D-eNE
 6860061 │      670  2021-05-07 00:00:00.000             5318    912781  1 OR
 6860062 │      670  2021-05-07 00:00:00.000             5318    450046  RFF>C ⋯
 6860063 │      670  2021-05-07 00:00:00.000             5318    914357  1P EG
 6860064 │      670  2021-05-07 00:00:00.000             5318         8  D-eNE
 6860065 │      670  2021-05-07 00:00:00.000             5319    921046  5P AC
 6860066 │      670  2021-05-07 00:00:00.000             5319        15  DI-DB ⋯
                                              8 columns and 6860045 rows omitted

In [142]:
#remove missing values
dropmissing!(df)

6859688×12 DataFrame
     Row │ storenum  business_date            transaction_key  item_key  item_ ⋯
         │ Int64     String                   Int64            Int64     Strin ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502  2021-03-29 00:00:00.000             1724    916755  D-10P ⋯
       2 │      502  2021-03-29 00:00:00.000             1724    710033  DEL S
       3 │      502  2021-03-29 00:00:00.000             1724         1  D-CAS
       4 │      502  2021-03-29 00:00:00.000             1725    700103  D-3PC
       5 │      502  2021-03-29 00:00:00.000             1725    710033  DEL S ⋯
       6 │      502  2021-03-29 00:00:00.000             1725         1  D-CAS
       7 │      502  2021-03-29 00:00:00.000             1726    710009  D-ZIN
       8 │      502  2021-03-29 00:00:00.000             1726    700103  D-3PC
       9 │      502  2021-03-29 00:00:00.000             1726    710033  DEL S ⋯
      10 │      502  2021-03-29 00:00:00.000             1726         1  D-CAS
      11 │      502  2021-03-29 00:00:00.000             1727    922023  D-10
    ⋮    │    ⋮                 ⋮                    ⋮            ⋮            ⋱
 6859679 │      670  2021-05-07 00:00:00.000             5317    922110  2P(TG
 6859680 │      670  2021-05-07 00:00:00.000             5317    450011  RWP>C ⋯
 6859681 │      670  2021-05-07 00:00:00.000             5317    914357  1P EG
 6859682 │      670  2021-05-07 00:00:00.000             5317         8  D-eNE
 6859683 │      670  2021-05-07 00:00:00.000             5318    912781  1 OR
 6859684 │      670  2021-05-07 00:00:00.000             5318    450046  RFF>C ⋯
 6859685 │      670  2021-05-07 00:00:00.000             5318    914357  1P EG
 6859686 │      670  2021-05-07 00:00:00.000             5318         8  D-eNE
 6859687 │      670  2021-05-07 00:00:00.000             5319    921046  5P AC
 6859688 │      670  2021-05-07 00:00:00.000             5319        15  DI-DB ⋯
                                              8 columns and 6859667 rows omitted

In [143]:
#Considering only useful columns
df = df[:,[:storenum,:transaction_key,:item_key,:item_description,:transaction_type,:sales_amount,:sales_channel,:clsd_chk_date_time]]

6859688×8 DataFrame
     Row │ storenum  transaction_key  item_key  item_description  transaction_ ⋯
         │ Int64     Int64            Int64     String            String       ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502             1724    916755  D-10P CKN BKT     M            ⋯
       2 │      502             1724    710033  DEL SURCHARGE     M
       3 │      502             1724         1  D-CASH            T
       4 │      502             1725    700103  D-3PC ML(OR)      M
       5 │      502             1725    710033  DEL SURCHARGE     M            ⋯
       6 │      502             1725         1  D-CASH            T
       7 │      502             1726    710009  D-ZINGER          M
       8 │      502             1726    700103  D-3PC ML(OR)      M
       9 │      502             1726    710033  DEL SURCHARGE     M            ⋯
      10 │      502             1726         1  D-CASH            T
      11 │      502             1727    922023  D-10 FOR $10      M
    ⋮    │    ⋮             ⋮            ⋮             ⋮                 ⋮     ⋱
 6859679 │      670             5317    922110  2P(TG) ML         M
 6859680 │      670             5317    450011  RWP>CF            M            ⋯
 6859681 │      670             5317    914357  1P EGG TART       M
 6859682 │      670             5317         8  D-eNETS CREDIT    T
 6859683 │      670             5318    912781  1 OR ZNG BX       M
 6859684 │      670             5318    450046  RFF>CFRIES        M            ⋯
 6859685 │      670             5318    914357  1P EGG TART       M
 6859686 │      670             5318         8  D-eNETS CREDIT    T
 6859687 │      670             5319    921046  5P ACB 30%        M
 6859688 │      670             5319        15  DI-DBS PAYLAH     T            ⋯
                                              4 columns and 6859667 rows omitted

In [146]:
#Developing unique key by combining storenum and transaction_key and date
ar = []

for i in 1:length(df.transaction_key)
    push!(ar,string(df.storenum[i])*"_"*string(df.transaction_key[i])*"_"*string(Dates.Date(string(df.clsd_chk_date_time[i]),"yyyy-mm-dd HH:MM:SS.s")))
end

select!(df,Not("transaction_key"))

df.store_transaction_key = ar

6859688-element Vector{Any}:
 "502_1724_2021-03-29"
 "502_1724_2021-03-29"
 "502_1724_2021-03-29"
 "502_1725_2021-03-29"
 "502_1725_2021-03-29"
 "502_1725_2021-03-29"
 "502_1726_2021-03-29"
 "502_1726_2021-03-29"
 "502_1726_2021-03-29"
 "502_1726_2021-03-29"
 "502_1727_2021-03-29"
 "502_1727_2021-03-29"
 "502_1727_2021-03-29"
 ⋮
 "670_5316_2021-05-07"
 "670_5316_2021-05-07"
 "670_5317_2021-05-07"
 "670_5317_2021-05-07"
 "670_5317_2021-05-07"
 "670_5317_2021-05-07"
 "670_5318_2021-05-07"
 "670_5318_2021-05-07"
 "670_5318_2021-05-07"
 "670_5318_2021-05-07"
 "670_5319_2021-05-07"
 "670_5319_2021-05-07"

In [147]:
#Placing particular daypart
label = []
week_label = []

for i in 1:length(df.storenum)
    
    #Considering weektime
    day = Dates.dayofweek(Dates.Date(string(df.clsd_chk_date_time[i]),"yyyy-mm-dd HH:MM:SS.s"))
    if day>=1&&day<=5
        push!(week_label,"Weekday")
    else
        push!(week_label,"Weekend")
    end
    
    #Considering daytime
    temp = Dates.DateTime(string(df.clsd_chk_date_time[i]),"yyyy-mm-dd HH:MM:SS.s")
    hr = Dates.hour(temp)
    if hr>=0&&hr<12
        push!(label,"Breakfast")
    elseif hr>=12&&hr<18
        push!(label,"Lunch")
    else
        push!(label,"Dinner")
    end
    
end

df.weektime = week_label
df.daytime = label

select!(df,Not("clsd_chk_date_time"))

6859688×9 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              5 columns and 6859667 rows omitted

In [148]:
#Considering daypart
daypart = []

for i in 1:length(df.storenum)
    push!(daypart,string(df.daytime[i])*"_"*string(df.weektime[i]))
end

df.daypart = daypart

6859688-element Vector{Any}:
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 "Breakfast_Weekday"
 ⋮
 "Lunch_Weekday"
 "Lunch_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"
 "Dinner_Weekday"

In [156]:
#save the dataset
CSV.write("Dataset1.csv",df)

"Dataset1.csv"

In [2]:
df = DataFrame(CSV.File("Dataset1.csv"))

6859688×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              6 columns and 6859667 rows omitted

In [ ]:
#grouping by transaction type
grp = groupby(df, :transaction_type)

In [4]:
#selecting Transaction type : M
df = grp[1]

5214325×10 SubDataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              6 columns and 5214304 rows omitted

In [5]:
#grouping by Store Transaction key
grp = groupby(df, :store_transaction_key)

GroupedDataFrame with 1264699 groups based on key: store_transaction_key
First Group (2 rows): store_transaction_key = "502_1724_2021-03-29"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      502    916755  D-10P CKN BKT     M                      26.9159  O ⋯
   2 │      502    710033  DEL SURCHARGE     M                       3.7383  O
                                                               5 columns omitted
⋮
Last Group (1 row): store_transaction_key = "670_5319_2021-05-07"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      670    921046  5P ACB 30%        M                       9.6262  S ⋯
                                                               5 columns omitted

In [6]:
# Remove spaces from a string,Input-string,Output-string
function remove_space(s)
    s1 = ""
    for i in 1:length(s)
        if(!isspace(s[i]))
            s1 = s1 * s[i]
        end
    end
    return s1
end

remove_space (generic function with 1 method)

In [7]:
# Function to remove spaces from the item descriptions 
function change_item_desc!(grp)
for i in 1:length(grp)
    for j in 1:size(grp[i],1)
        grp[i].item_description[j] = remove_space(grp[i].item_description[j])
    end
    #println("grp : ",i)
end
end

change_item_desc! (generic function with 1 method)

In [8]:
#Remove Spaces from Item Description
change_item_desc!(grp)

In [12]:
#function that decides Highprice or Lowprice
function get_high_low_sales(df1)
    sum = 0
    for i in 1:size(df1,1)
        sum = sum + df1.sales_amount[i]
    end
    if(sum >= 15.0)
        ans = "Highprice"
    else
        ans = "Lowprice"
    end
    return ans
end

get_high_low_sales (generic function with 1 method)

In [13]:
#function that generates the text data for transaction keys in range lower-upper
function create_text(lower,upper,grp)
    text =""
    for i in lower:upper
        #appending storenum as a attribute
        x = string(grp[i].storenum[1])
        #appending high or low sales value
        x = x * " " * get_high_low_sales(grp[i])
        #sort the items in decreasing order of their sales amount
        df_sort = sort(grp[i], :sales_amount , rev = true)
        for j in 1:size(df_sort,1)
            s = df_sort.item_description[j]
            #appending item desc
            x = x * " " * s
        end
        text = text * "\n" * x
    end
    return text
end

create_text (generic function with 1 method)

In [14]:
#function that passes the range to create_text and combines them all
function get_text(batchsize,grp)
    text = ""
    maxlength = size(grp,1)
    count = 1
    while(count<=maxlength)
        lower = count
        upper = count + batchsize
        if(upper > maxlength)
            upper = maxlength
        end
        count = upper+1
        text1 = create_text(lower,upper,grp)
        text = text * text1
        println(lower," ",upper)
    end
    return text
end

get_text (generic function with 1 method)

In [ ]:
#generate the complete text data
text = get_text(10000,grp)

In [16]:
#save the text file
open("text.txt", "w") do io
           write(io, text)
       end;

## Training

In [ ]:
] add Word2Vec
using Word2Vec

In [ ]:
#Word2vec Training needs to be in Linux-based Sysytem
#training the word2vec using text data
word2vec("text.txt", "text-vec.txt",size = 20 ,iter = 20 ,min_count = 1, verbose=true)

In [ ]:
#load the model
model = wordvectors("text-vec.txt")

# Clustering

## Preprocessing

In [1]:
using DataFrames
using CSV
using Word2Vec

In [4]:
df = DataFrame(CSV.File("Dataset1.csv"))

6859688×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              6 columns and 6859667 rows omitted

In [5]:
#group by transaction type
grp = groupby(df, :transaction_type)

GroupedDataFrame with 3 groups based on key: transaction_type
First Group (5214325 rows): transaction_type = "M"
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214315 │      670    200006  RT BEER -M        M                       2.757
 5214316 │      670    921046  5P ACB 30%        M                       9.626 ⋯
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056 ⋯
 5214321 │      670    914357  1P EGG TART       M                       1.215
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214325 │      670    921046  5P ACB 30%        M                       9.626
                                              6 columns and 5214303 rows omitted
⋮
Last Group (12833 rows): transaction_type = "D"
   Row │ storenum  item_key  item_description     transaction_type  sales_amou ⋯
       │ Int64     Int64     String               String            Float64    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      502      2000  25% EMP DISC         D                      -1.96 ⋯
     2 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     3 │      502      8027  10% OFF GES DEAL     D                      -1.81
     4 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     5 │      504      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
     6 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     7 │      504      3007  $1-OFF(PAssion)      D                       0.93
     8 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     9 │      504      5010  10% OFF(LSM)         D                      -0.94 ⋯
    10 │      504      8027  10% OFF GES DEAL     D                      -2.24
    11 │      505      5016  10% OFF xFOOD PANDA  D                      -1.07
   ⋮   │    ⋮         ⋮               ⋮                  ⋮               ⋮     ⋱
 12823 │      660      8027  10% OFF GES DEAL     D                      -0.46
 12824 │      660      8027  10% OFF GES DEAL     D                      -1.66 ⋯
 12825 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12826 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12827 │      664      8027  10% OFF GES DEAL     D                      -0.60
 12828 │      665      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
 12829 │      665      3007  $1-OFF(PAssion)      D                      -0.93
 12830 │      665      5010  10% OFF(LSM)         D                      -0.46
 12831 │      666      3007  $1-OFF(PAssion)      D                      -0.93
 12832 │      670      8027  10% OFF GES DEAL     D                      -0.78 ⋯
 12833 │      670      8027  10% OFF GES DEAL     D                      -0.32
                                                6 columns and 12811 rows omitted

In [6]:
#selecting transaction type : M
df = grp[1]

5214325×10 SubDataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              6 columns and 5214304 rows omitted

In [7]:
#group by store transaction key
grp = groupby(df, :store_transaction_key)

GroupedDataFrame with 1264699 groups based on key: store_transaction_key
First Group (2 rows): store_transaction_key = "502_1724_2021-03-29"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      502    916755  D-10P CKN BKT     M                      26.9159  O ⋯
   2 │      502    710033  DEL SURCHARGE     M                       3.7383  O
                                                               5 columns omitted
⋮
Last Group (1 row): store_transaction_key = "670_5319_2021-05-07"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      670    921046  5P ACB 30%        M                       9.6262  S ⋯
                                                               5 columns omitted

In [22]:
#function to remove spaces
function remove_space(s)
    s1 = ""
    for i in 1:length(s)
        if(!isspace(s[i]))
            s1 = s1 * s[i]
        end
    end
    return s1
end

remove_space (generic function with 1 method)

In [23]:
#function that remove spaces from item description
function change_item_desc!(grp)
for i in 1:length(grp)
    for j in 1:size(grp[i],1)
        grp[i].item_description[j] = remove_space(grp[i].item_description[j])
    end
    #println("grp : ",i)
end
end

change_item_desc! (generic function with 1 method)

In [24]:
change_item_desc!(grp)

In [2]:
#load the word2vec model
model = wordvectors("text-vec.txt")

WordVectors 1481 words, 20-element Float64 vectors

In [26]:
#function that combines embedding of different items in a particular transaction key
function get_embedding(df1)
    x = zeros(20,1)
    for i in 1:size(df1,1)
        #x = x + df1.quantity_sum[i] * get_vector(model,df1.item_description[i])
        x = x + get_vector(model,df1.item_description[i])
    end
    return x
end

get_embedding (generic function with 1 method)

In [34]:
#function that generates embedding in a given range of transactions and combines them
function get_embedding_vector(df,lower,upper)
    #grp = groupby(df[lower], :item_description)
    #df1 = combine(grp, :quantity => sum)
    embedding_vector = get_embedding(df[lower])
    for i in (lower+1):upper
        #grp = groupby(df[i], :item_description)
        #df1 = combine(grp, :quantity => sum)
        embed = get_embedding(df[i])
        embedding_vector = hcat(embedding_vector,embed)
    end
    return embedding_vector
end

get_embedding_vector (generic function with 1 method)

In [35]:
#function that passes the range to get_embedding_vector and combines them all
function embeddings(df,batch_size)
    embedding = get_embedding_vector(df,1,1)
    count = 2
    max_length = size(df,1)
    while (count <= max_length)
        lower = count
        upper = lower + batch_size
        if(upper > max_length)
            upper = max_length
        end
        embedding_batch = get_embedding_vector(df,lower,upper)
        embedding = hcat(embedding,embedding_batch)
        count = upper + 1
        println(lower," ",upper)
    end
    return embedding
end

embeddings (generic function with 1 method)

In [36]:
#generate all the embeddings
embedding = embeddings(grp,10000)

2 10002
10003 20003
20004 30004
30005 40005
40006 50006
50007 60007
60008 70008
70009 80009
80010 90010
90011 100011
100012 110012
110013 120013
120014 130014
130015 140015
140016 150016
150017 160017
160018 170018
170019 180019
180020 190020
190021 200021
200022 210022
210023 220023
220024 230024
230025 240025
240026 250026
250027 260027
260028 270028
270029 280029
280030 290030
290031 300031
300032 310032
310033 320033
320034 330034
330035 340035
340036 350036
350037 360037
360038 370038
370039 380039
380040 390040
390041 400041
400042 410042
410043 420043
420044 430044
430045 440045
440046 450046
450047 460047
460048 470048
470049 480049
480050 490050
490051 500051
500052 510052
510053 520053
520054 530054
530055 540055
540056 550056
550057 560057
560058 570058
570059 580059
580060 590060
590061 600061
600062 610062
610063 620063
620064 630064
630065 640065
640066 650066
650067 660067
660068 670068
670069 680069
680070 690070
690071 700071
700072 710072
710073 720073
720074 730074
730075 740075
740076 750076
750077 760077
760078 770078
770079 780079
780080 790080
790081 800081
800082 810082
810083 820083
820084 830084
830085 840085
840086 850086
850087 860087
860088 870088
870089 880089
880090 890090
890091 900091
900092 910092
910093 920093
920094 930094
930095 940095
940096 950096
950097 960097
960098 970098
970099 980099
980100 990100
990101 1000101
1000102 1010102
1010103 1020103
1020104 1030104
1030105 1040105
1040106 1050106
1050107 1060107
1060108 1070108
1070109 1080109
1080110 1090110
1090111 1100111
1100112 1110112
1110113 1120113
1120114 1130114
1130115 1140115
1140116 1150116
1150117 1160117
1160118 1170118
1170119 1180119
1180120 1190120
1190121 1200121
1200122 1210122
1210123 1220123
1220124 1230124
1230125 1240125
1240126 1250126
1250127 1260127
1260128 1264699

20×1264699 Matrix{Float64}:
  0.0807736  -0.298324    -0.376631   …   0.531692    0.486949     0.178528
 -0.181403   -0.402742    -0.533046       0.84595     0.777913     0.0217549
  0.472851    0.359196     0.606288       0.511388    0.0240603    0.0130382
 -0.724752   -0.509869    -0.701936       1.07786     0.387327    -0.203487
 -0.297743   -0.0244358   -0.0823986     -0.259268   -0.951213     0.0530786
 -0.0460276  -0.0582655    0.0422824  …  -0.367387   -0.123161     0.0912789
  0.125119    0.0127468    0.170374      -0.545894   -0.235022    -0.171274
  0.399329    0.330665     0.584976      -0.138561   -0.710823     0.0461399
 -0.162985   -0.0978179   -0.161787       0.175265    0.00757571  -0.374797
 -0.309832   -0.167004    -0.255125      -0.33333    -0.785822    -0.522906
  0.879035    0.627074     1.02829    …  -0.406884   -0.56223      0.0537822
  0.641812    0.64865      1.05065       -0.035325    0.729042    -0.150086
 -0.148668    0.00136002   0.0822228      0.683239    0.81125      0.0362989
 -0.600011   -0.788558    -1.07538        0.0472325   0.22988      0.244246
 -0.0195764   0.112441     0.0412687      0.262361   -0.397229    -0.120178
 -0.210922   -0.363839    -0.740743   …   0.51729    -0.016625    -0.269933
  0.217447    0.158626     0.205341       0.73692     0.0406738    0.394099
 -0.164694   -0.0900915   -0.31668       -0.289946    0.410061     0.178828
  0.43975     0.452007     0.731692       0.0191756   0.462571    -0.200147
 -0.277423   -0.541662    -0.8134         0.107862    0.724089    -0.261743

In [39]:
#take the transpose
embedding = embedding'

1264699×20 adjoint(::Matrix{Float64}) with eltype Float64:
  0.0807736  -0.181403    0.472851     …  -0.164694    0.43975    -0.277423
 -0.298324   -0.402742    0.359196        -0.0900915   0.452007   -0.541662
 -0.376631   -0.533046    0.606288        -0.31668     0.731692   -0.8134
 -0.168432   -0.371601    0.981333        -0.0341286   0.710133   -0.435524
 -0.455413   -0.466958    1.19374         -1.09094     1.2236     -1.21271
  0.058775   -0.393831    0.377368     …  -0.211293    0.316592   -0.333772
 -0.472407   -0.751798    1.25231          0.152741    0.51368    -0.783546
  0.100918   -0.703018    0.780118        -0.17083     0.663192   -0.545561
 -0.461569   -0.881826    1.37396          0.0984649   0.752633   -0.947403
 -0.122057   -0.513262    0.693519        -0.345433    0.592342   -0.556627
 -0.367377   -0.566901    1.13106      …  -0.63274     0.817723   -0.671362
 -0.845733   -0.980413    1.88027         -1.01351     1.46286    -1.1625
 -0.112542   -0.461963    0.818379         0.0312036   0.429983   -0.379877
  ⋮                                    ⋱
  2.44109     1.8411      1.05654          0.0834623   0.293829    0.362142
 -0.0836162   0.0377523  -0.000954342      0.235177    0.207014    0.0308559
  0.238756    0.517652    0.158536         0.499756    0.588752    0.24182
  0.113163    0.0305402   0.0667357    …   0.236606   -0.183804   -0.26124
  0.391466   -0.253537    0.0237103        0.192351    0.197711   -0.00360162
  0.445203    0.626206    0.50667         -0.280784    0.465967    0.212214
  0.178528    0.0217549   0.0130382        0.178828   -0.200147   -0.261743
  0.413788   -0.0123858   0.253044        -0.0504766  -0.155738   -0.252317
  0.0594564   0.0393438   0.0522137    …   0.276947   -0.120972   -0.291218
  0.531692    0.84595     0.511388        -0.289946    0.0191756   0.107862
  0.486949    0.777913    0.0240603        0.410061    0.462571    0.724089
  0.178528    0.0217549   0.0130382        0.178828   -0.200147   -0.261743

In [40]:
#convert embedding to dataframe
df_embedding = DataFrame(embedding,:auto)

1264699×20 DataFrame
     Row │ x1          x2          x3            x4          x5          x6    ⋯
         │ Float64     Float64     Float64       Float64     Float64     Float ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │  0.0807736  -0.181403    0.472851     -0.724752   -0.297743   -0.04 ⋯
       2 │ -0.298324   -0.402742    0.359196     -0.509869   -0.0244358  -0.05
       3 │ -0.376631   -0.533046    0.606288     -0.701936   -0.0823986   0.04
       4 │ -0.168432   -0.371601    0.981333     -1.08266    -0.461833    0.18
       5 │ -0.455413   -0.466958    1.19374      -1.53188    -0.364902    0.02 ⋯
       6 │  0.058775   -0.393831    0.377368     -0.802184   -0.389637    0.02
       7 │ -0.472407   -0.751798    1.25231      -0.774226    0.467831    0.11
       8 │  0.100918   -0.703018    0.780118     -0.6989     -0.259651   -0.12
       9 │ -0.461569   -0.881826    1.37396      -0.80085     0.116868    0.28 ⋯
      10 │ -0.122057   -0.513262    0.693519     -1.23886    -0.39336     0.18
      11 │ -0.367377   -0.566901    1.13106      -1.5333     -0.0225692   0.20
    ⋮    │     ⋮           ⋮            ⋮            ⋮           ⋮           ⋮ ⋱
 1264690 │  0.238756    0.517652    0.158536     -0.214609   -0.172406   -0.03
 1264691 │  0.113163    0.0305402   0.0667357    -0.153462    0.0613791   0.10 ⋯
 1264692 │  0.391466   -0.253537    0.0237103    -0.27032     0.0627411  -0.29
 1264693 │  0.445203    0.626206    0.50667      -0.214465   -0.242198    0.28
 1264694 │  0.178528    0.0217549   0.0130382    -0.203487    0.0530786   0.09
 1264695 │  0.413788   -0.0123858   0.253044      0.0362252   0.462365   -0.25 ⋯
 1264696 │  0.0594564   0.0393438   0.0522137    -0.124757   -0.0489487   0.05
 1264697 │  0.531692    0.84595     0.511388      1.07786    -0.259268   -0.36
 1264698 │  0.486949    0.777913    0.0240603     0.387327   -0.951213   -0.12
 1264699 │  0.178528    0.0217549   0.0130382    -0.203487    0.0530786   0.09 ⋯
                                             15 columns and 1264678 rows omitted

In [42]:
#save the embedding dataframe
CSV.write("embedding-all.csv",df_embedding)

"embedding-all.csv"

In [3]:
#load the embeddings
df_embedding = DataFrame(CSV.File("embedding-all.csv"))

1264699×20 DataFrame
     Row │ x1          x2          x3            x4          x5          x6    ⋯
         │ Float64     Float64     Float64       Float64     Float64     Float ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │  0.0807736  -0.181403    0.472851     -0.724752   -0.297743   -0.04 ⋯
       2 │ -0.298324   -0.402742    0.359196     -0.509869   -0.0244358  -0.05
       3 │ -0.376631   -0.533046    0.606288     -0.701936   -0.0823986   0.04
       4 │ -0.168432   -0.371601    0.981333     -1.08266    -0.461833    0.18
       5 │ -0.455413   -0.466958    1.19374      -1.53188    -0.364902    0.02 ⋯
       6 │  0.058775   -0.393831    0.377368     -0.802184   -0.389637    0.02
       7 │ -0.472407   -0.751798    1.25231      -0.774226    0.467831    0.11
       8 │  0.100918   -0.703018    0.780118     -0.6989     -0.259651   -0.12
       9 │ -0.461569   -0.881826    1.37396      -0.80085     0.116868    0.28 ⋯
      10 │ -0.122057   -0.513262    0.693519     -1.23886    -0.39336     0.18
      11 │ -0.367377   -0.566901    1.13106      -1.5333     -0.0225692   0.20
    ⋮    │     ⋮           ⋮            ⋮            ⋮           ⋮           ⋮ ⋱
 1264690 │  0.238756    0.517652    0.158536     -0.214609   -0.172406   -0.03
 1264691 │  0.113163    0.0305402   0.0667357    -0.153462    0.0613791   0.10 ⋯
 1264692 │  0.391466   -0.253537    0.0237103    -0.27032     0.0627411  -0.29
 1264693 │  0.445203    0.626206    0.50667      -0.214465   -0.242198    0.28
 1264694 │  0.178528    0.0217549   0.0130382    -0.203487    0.0530786   0.09
 1264695 │  0.413788   -0.0123858   0.253044      0.0362252   0.462365   -0.25 ⋯
 1264696 │  0.0594564   0.0393438   0.0522137    -0.124757   -0.0489487   0.05
 1264697 │  0.531692    0.84595     0.511388      1.07786    -0.259268   -0.36
 1264698 │  0.486949    0.777913    0.0240603     0.387327   -0.951213   -0.12
 1264699 │  0.178528    0.0217549   0.0130382    -0.203487    0.0530786   0.09 ⋯
                                             15 columns and 1264678 rows omitted

In [18]:
#convert dataframe to matrix
embedding = Matrix(df_embedding)

1264699×20 Matrix{Float64}:
  0.0807736  -0.181403    0.472851     …  -0.164694    0.43975    -0.277423
 -0.298324   -0.402742    0.359196        -0.0900915   0.452007   -0.541662
 -0.376631   -0.533046    0.606288        -0.31668     0.731692   -0.8134
 -0.168432   -0.371601    0.981333        -0.0341286   0.710133   -0.435524
 -0.455413   -0.466958    1.19374         -1.09094     1.2236     -1.21271
  0.058775   -0.393831    0.377368     …  -0.211293    0.316592   -0.333772
 -0.472407   -0.751798    1.25231          0.152741    0.51368    -0.783546
  0.100918   -0.703018    0.780118        -0.17083     0.663192   -0.545561
 -0.461569   -0.881826    1.37396          0.0984649   0.752633   -0.947403
 -0.122057   -0.513262    0.693519        -0.345433    0.592342   -0.556627
 -0.367377   -0.566901    1.13106      …  -0.63274     0.817723   -0.671362
 -0.845733   -0.980413    1.88027         -1.01351     1.46286    -1.1625
 -0.112542   -0.461963    0.818379         0.0312036   0.429983   -0.379877
  ⋮                                    ⋱
  2.44109     1.8411      1.05654          0.0834623   0.293829    0.362142
 -0.0836162   0.0377523  -0.000954342      0.235177    0.207014    0.0308559
  0.238756    0.517652    0.158536         0.499756    0.588752    0.24182
  0.113163    0.0305402   0.0667357    …   0.236606   -0.183804   -0.26124
  0.391466   -0.253537    0.0237103        0.192351    0.197711   -0.00360162
  0.445203    0.626206    0.50667         -0.280784    0.465967    0.212214
  0.178528    0.0217549   0.0130382        0.178828   -0.200147   -0.261743
  0.413788   -0.0123858   0.253044        -0.0504766  -0.155738   -0.252317
  0.0594564   0.0393438   0.0522137    …   0.276947   -0.120972   -0.291218
  0.531692    0.84595     0.511388        -0.289946    0.0191756   0.107862
  0.486949    0.777913    0.0240603        0.410061    0.462571    0.724089
  0.178528    0.0217549   0.0130382        0.178828   -0.200147   -0.261743

In [8]:
#creating dictionary that maps transaction key with its index
dict_index = Dict()
for i in 1:length(grp)
    dict_index[grp[i].store_transaction_key[1]] = i
end
dict_index

Dict{Any, Any} with 1264699 entries:
  "551_4984_2021-04-08" => 348625
  "551_4172_2021-03-30" => 46704
  "654_4357_2021-03-31" => 94340
  "551_4682_2021-04-08" => 348324
  "664_5927_2021-04-08" => 364088
  "530_5097_2021-04-18" => 672605
  "507_5970_2021-04-12" => 483982
  "563_6128_2021-04-11" => 461858
  "563_6447_2021-04-13" => 525782
  "523_4380_2021-04-22" => 802688
  "577_7948_2021-03-29" => 16293
  "519_5217_2021-04-25" => 894285
  "520_5670_2021-04-29" => 1007358
  "528_5996_2021-05-06" => 1214246
  "548_6387_2021-04-04" => 220165
  "603_5255_2021-05-07" => 1254194
  "540_5477_2021-04-07" => 312404
  "643_4336_2021-04-09" => 396810
  "551_4089_2021-05-01" => 1076767
  "653_5468_2021-04-18" => 692574
  "513_5300_2021-05-04" => 1158086
  "652_6412_2021-04-09" => 398035
  "523_6599_2021-04-09" => 375052
  "552_6460_2021-03-31" => 80536
  "533_7836_2021-04-19" => 705626
  ⋮                     => ⋮

In [9]:
df = DataFrame(CSV.File("Dataset1.csv"))

6859688×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              6 columns and 6859667 rows omitted

In [10]:
#group by transaction type
df = groupby(df,:transaction_type)

GroupedDataFrame with 3 groups based on key: transaction_type
First Group (5214325 rows): transaction_type = "M"
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214315 │      670    200006  RT BEER -M        M                       2.757
 5214316 │      670    921046  5P ACB 30%        M                       9.626 ⋯
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056 ⋯
 5214321 │      670    914357  1P EGG TART       M                       1.215
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214325 │      670    921046  5P ACB 30%        M                       9.626
                                              6 columns and 5214303 rows omitted
⋮
Last Group (12833 rows): transaction_type = "D"
   Row │ storenum  item_key  item_description     transaction_type  sales_amou ⋯
       │ Int64     Int64     String               String            Float64    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      502      2000  25% EMP DISC         D                      -1.96 ⋯
     2 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     3 │      502      8027  10% OFF GES DEAL     D                      -1.81
     4 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     5 │      504      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
     6 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     7 │      504      3007  $1-OFF(PAssion)      D                       0.93
     8 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     9 │      504      5010  10% OFF(LSM)         D                      -0.94 ⋯
    10 │      504      8027  10% OFF GES DEAL     D                      -2.24
    11 │      505      5016  10% OFF xFOOD PANDA  D                      -1.07
   ⋮   │    ⋮         ⋮               ⋮                  ⋮               ⋮     ⋱
 12823 │      660      8027  10% OFF GES DEAL     D                      -0.46
 12824 │      660      8027  10% OFF GES DEAL     D                      -1.66 ⋯
 12825 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12826 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12827 │      664      8027  10% OFF GES DEAL     D                      -0.60
 12828 │      665      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
 12829 │      665      3007  $1-OFF(PAssion)      D                      -0.93
 12830 │      665      5010  10% OFF(LSM)         D                      -0.46
 12831 │      666      3007  $1-OFF(PAssion)      D                      -0.93
 12832 │      670      8027  10% OFF GES DEAL     D                      -0.78 ⋯
 12833 │      670      8027  10% OFF GES DEAL     D                      -0.32
                                                6 columns and 12811 rows omitted

In [11]:
#selecting Transaction Type :M
df = df[1]

5214325×10 SubDataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              6 columns and 5214304 rows omitted

In [12]:
#groupby daypart
df = groupby(df,:daypart)

GroupedDataFrame with 6 groups based on key: daypart
First Group (593802 rows): daypart = "Breakfast_Weekday"
    Row │ storenum  item_key  item_description  transaction_type  sales_amount ⋯
        │ Int64     Int64     String            String            Float64      ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      502    916755  D-10P CKN BKT     M                      26.9159 ⋯
      2 │      502    710033  DEL SURCHARGE     M                       3.7383
      3 │      502    700103  D-3PC ML(OR)      M                      58.4112
      4 │      502    710033  DEL SURCHARGE     M                       3.7383
      5 │      502    710009  D-ZINGER          M                      10.9346 ⋯
      6 │      502    700103  D-3PC ML(OR)      M                      46.729
      7 │      502    710033  DEL SURCHARGE     M                       3.7383
      8 │      502    922023  D-10 FOR $10      M                       9.3458
      9 │      502    913618  D-10P CKN 2-5PM   M                      16.8224 ⋯
     10 │      502    710033  DEL SURCHARGE     M                       3.7383
     11 │      502    916137  D-FM POT BWL      M                       5.0
   ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮       ⋱
 593792 │      670    539990  *                 M                       0.0
 593793 │      670    918058  TGY PKT           M                       5.4673 ⋯
 593794 │      670     75004  POPCORN L         M                       4.3925
 593795 │      670     75005  CHZ FRIES         M                       4.1121
 593796 │      670    914357  1P EGG TART       M                       1.215
 593797 │      670    922110  2P(TG) ML         M                       8.3645 ⋯
 593798 │      670    921826  $2.5 3PTEN+1DIP   M                       2.3364
 593799 │      670    922202  2P CKN+SJ-R       M                       0.9346
 593800 │      670     30001  2P(OR)ML-A        M                       7.8505
 593801 │      670    922062  AO MASK B         M                       1.8224 ⋯
 593802 │      670     80001  SHRM BGR          M                       2.8037
                                               5 columns and 593780 rows omitted
⋮
Last Group (645209 rows): daypart = "Lunch_Weekend"
    Row │ storenum  item_key  item_description      transaction_type  sales_am ⋯
        │ Int64     Int64     String                String            Float64  ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      502    710009  D-ZINGER              M                       5. ⋯
      2 │      502    913299  D-AO 2 CHZ FRIES-APP  M                       5.
      3 │      502    916755  D-10P CKN BKT         M                      26.
      4 │      502    710033  DEL SURCHARGE         M                       3.
      5 │      502    710021  D-W/PT MED            M                       6. ⋯
      6 │      502    710018  D-C/SL MED            M                       6.
      7 │      502    922023  D-10 FOR $10          M                       9.
      8 │      502    916755  D-10P CKN BKT         M                      26.
      9 │      502    710033  DEL SURCHARGE         M                       3. ⋯
     10 │      502    922023  D-10 FOR $10          M                       9.
     11 │      502    916131  D-1P CRY BWL ML       M                       7.
   ⋮    │    ⋮         ⋮               ⋮                   ⋮               ⋮   ⋱
 645199 │      670    400134  RP>SJORA -R           M                       0.
 645200 │      670    921826  $2.5 3PTEN+1DIP       M                       2. ⋯
 645201 │      670    922110  2P(TG) ML             M                       8.
 645202 │      670    922110  2P(TG) ML             M                       8.
 645203 │      670     45104  2P TDR SNCKR          M                       3.
 645204 │      670     75004  POPCORN L             M                       8. ⋯
 645205 │      670    916089  OR RC BWL ML          M                       4.
 645206 │      670    922086  $2.95 ZNG             M                       2.
 645207 │      670    914982  FAM POT ML            M                       4.
 645208 │      670    922255  10P CEL FST           M                      39. ⋯
 645209 │      670    922202  2P CKN+SJ-R           M                       0.
                                               6 columns and 645187 rows omitted

In [30]:
#function that generates embedding in a given range of transaction
function get_embed_vector(grp,lower,upper)
    arr_trn = String[]
    push!(arr_trn,grp[lower].store_transaction_key[1])
    x = embedding[dict_index[grp[lower].store_transaction_key[1]],:]
    arr_embedd = x
    for j in (lower+1):upper
        arr_trn = vcat(arr_trn,grp[j].store_transaction_key[1])
        x = embedding[dict_index[grp[j].store_transaction_key[1]],:]
        arr_embedd = hcat(arr_embedd,x)
    end
    return arr_trn,arr_embedd
end

get_embed_vector (generic function with 1 method)

In [37]:
# function that passes range to get_embed_vector and combines them as per their daypart
function embedd(df,batch_size)
    for i in 1:length(df)
        grp = groupby(df[i],:store_transaction_key)
        arr_trn,arr_embedd = get_embed_vector(grp,1,1)
        count = 2
        max_length = length(grp)
        while (count <= max_length)
            lower = count
            upper = lower + batch_size
            if(upper > max_length)
                upper = max_length
            end
            arr_trn_batch,arr_embedd_batch = get_embed_vector(grp,lower,upper)
            arr_trn = vcat(arr_trn,arr_trn_batch)
            arr_embedd = hcat(arr_embedd,arr_embedd_batch)
            count = upper + 1
            println(df[i].daypart[1]," ",lower," ",upper)
        end
        df_embedd = DataFrame(arr_embedd',:auto)
        df_trn = DataFrame(store_transaction_key = arr_trn)
        embedd_file = df[i].daypart[1] * "_embedding.csv"
        trn_file = df[i].daypart[1] * "_transaction_key.csv"
        CSV.write(embedd_file,df_embedd)
        CSV.write(trn_file,df_trn)
    end
end

embedd (generic function with 1 method)

In [38]:
#generate embedding daypart wise
embedd(df,10000)

Breakfast_Weekday 2 10002
Breakfast_Weekday 10003 20003
Breakfast_Weekday 20004 30004
Breakfast_Weekday 30005 40005
Breakfast_Weekday 40006 50006
Breakfast_Weekday 50007 60007
Breakfast_Weekday 60008 70008
Breakfast_Weekday 70009 80009
Breakfast_Weekday 80010 90010
Breakfast_Weekday 90011 100011
Breakfast_Weekday 100012 110012
Breakfast_Weekday 110013 120013
Breakfast_Weekday 120014 130014
Breakfast_Weekday 130015 131812
Lunch_Weekday 2 10002
Lunch_Weekday 10003 20003
Lunch_Weekday 20004 30004
Lunch_Weekday 30005 40005
Lunch_Weekday 40006 50006
Lunch_Weekday 50007 60007
Lunch_Weekday 60008 70008
Lunch_Weekday 70009 80009
Lunch_Weekday 80010 90010
Lunch_Weekday 90011 100011
Lunch_Weekday 100012 110012
Lunch_Weekday 110013 120013
Lunch_Weekday 120014 130014
Lunch_Weekday 130015 140015
Lunch_Weekday 140016 150016
Lunch_Weekday 150017 160017
Lunch_Weekday 160018 170018
Lunch_Weekday 170019 180019
Lunch_Weekday 180020 190020
Lunch_Weekday 190021 200021
Lunch_Weekday 200022 210022
Lunch_Weekday 210023 220023
Lunch_Weekday 220024 230024
Lunch_Weekday 230025 240025
Lunch_Weekday 240026 250026
Lunch_Weekday 250027 260027
Lunch_Weekday 260028 270028
Lunch_Weekday 270029 280029
Lunch_Weekday 280030 290030
Lunch_Weekday 290031 300031
Lunch_Weekday 300032 310032
Lunch_Weekday 310033 320033
Lunch_Weekday 320034 330034
Lunch_Weekday 330035 340035
Lunch_Weekday 340036 350036
Lunch_Weekday 350037 360037
Lunch_Weekday 360038 370038
Lunch_Weekday 370039 380039
Lunch_Weekday 380040 390040
Lunch_Weekday 390041 400041
Lunch_Weekday 400042 409783
Dinner_Weekday 2 10002
Dinner_Weekday 10003 20003
Dinner_Weekday 20004 30004
Dinner_Weekday 30005 40005
Dinner_Weekday 40006 50006
Dinner_Weekday 50007 60007
Dinner_Weekday 60008 70008
Dinner_Weekday 70009 80009
Dinner_Weekday 80010 90010
Dinner_Weekday 90011 100011
Dinner_Weekday 100012 110012
Dinner_Weekday 110013 120013
Dinner_Weekday 120014 130014
Dinner_Weekday 130015 140015
Dinner_Weekday 140016 150016
Dinner_Weekday 150017 160017
Dinner_Weekday 160018 170018
Dinner_Weekday 170019 180019
Dinner_Weekday 180020 190020
Dinner_Weekday 190021 200021
Dinner_Weekday 200022 210022
Dinner_Weekday 210023 220023
Dinner_Weekday 220024 230024
Dinner_Weekday 230025 240025
Dinner_Weekday 240026 250026
Dinner_Weekday 250027 260027
Dinner_Weekday 260028 270028
Dinner_Weekday 270029 280029
Dinner_Weekday 280030 290030
Dinner_Weekday 290031 300031
Dinner_Weekday 300032 310032
Dinner_Weekday 310033 320033
Dinner_Weekday 320034 330034
Dinner_Weekday 330035 340035
Dinner_Weekday 340036 350036
Dinner_Weekday 350037 360037
Dinner_Weekday 360038 370038
Dinner_Weekday 370039 370587
Dinner_Weekend 2 10002
Dinner_Weekend 10003 20003
Dinner_Weekend 20004 30004
Dinner_Weekend 30005 40005
Dinner_Weekend 40006 50006
Dinner_Weekend 50007 60007
Dinner_Weekend 60008 70008
Dinner_Weekend 70009 80009
Dinner_Weekend 80010 90010
Dinner_Weekend 90011 100011
Dinner_Weekend 100012 110012
Dinner_Weekend 110013 120013
Dinner_Weekend 120014 123724
Breakfast_Weekend 2 10002
Breakfast_Weekend 10003 20003
Breakfast_Weekend 20004 30004
Breakfast_Weekend 30005 40005
Breakfast_Weekend 40006 50006
Breakfast_Weekend 50007 60007
Breakfast_Weekend 60008 70008
Breakfast_Weekend 70009 71891
Lunch_Weekend 2 10002
Lunch_Weekend 10003 20003
Lunch_Weekend 20004 30004
Lunch_Weekend 30005 40005
Lunch_Weekend 40006 50006
Lunch_Weekend 50007 60007
Lunch_Weekend 60008 70008
Lunch_Weekend 70009 80009
Lunch_Weekend 80010 90010
Lunch_Weekend 90011 100011
Lunch_Weekend 100012 110012
Lunch_Weekend 110013 120013
Lunch_Weekend 120014 130014
Lunch_Weekend 130015 140015
Lunch_Weekend 140016 150016
Lunch_Weekend 150017 157689

## Run K-Means

In [7]:
using Clustering

### Breakfast_Weekday

In [117]:
#load the embedding file
embedding = DataFrame(CSV.File("Breakfast_Weekday_embedding.csv"))
embedding = Matrix(embedding)'

20×131812 adjoint(::Matrix{Float64}) with eltype Float64:
  0.0807736  -0.298324    -0.376631   …   0.438891     0.388387    0.378176
 -0.181403   -0.402742    -0.533046       0.606485    -0.0298589   0.483388
  0.472851    0.359196     0.606288       0.171945     0.248771    0.295489
 -0.724752   -0.509869    -0.701936       0.496072    -0.0178658   0.725668
 -0.297743   -0.0244358   -0.0823986      0.228519     0.443795   -0.0896801
 -0.0460276  -0.0582655    0.0422824  …  -0.171102    -0.292664   -0.722883
  0.125119    0.0127468    0.170374      -0.39775     -0.0198879  -0.859396
  0.399329    0.330665     0.584976       0.13063     -0.0966249  -0.490137
 -0.162985   -0.0978179   -0.161787      -0.0638738   -0.165642   -0.534077
 -0.309832   -0.167004    -0.255125      -0.516866    -0.22247    -0.399812
  0.879035    0.627074     1.02829    …  -0.48593     -0.169128   -0.0732331
  0.641812    0.64865      1.05065        0.262217     0.29581     0.505039
 -0.148668    0.00136002   0.0822228     -0.042202    -0.232049    0.428257
 -0.600011   -0.788558    -1.07538        0.0104923    0.370124    0.0940835
 -0.0195764   0.112441     0.0412687     -0.14275     -0.0659328  -0.475592
 -0.210922   -0.363839    -0.740743   …   0.479631    -0.0799536   0.197564
  0.217447    0.158626     0.205341       0.724122     0.0333268   0.712399
 -0.164694   -0.0900915   -0.31668        0.00599083  -0.0821113   0.402351
  0.43975     0.452007     0.731692       0.0549176   -0.0449218  -0.327823
 -0.277423   -0.541662    -0.8134        -0.147367    -0.298718    0.239015

In [118]:
#perform the K-means Cluster
result = kmeans(embedding, 2)

KmeansResult{Matrix{Float64}, Float64, Int64}([-0.4471176139968878 -0.9364478361063603; -0.28249274021719645 0.058610508840510764; … ; -0.36082783260216744 -0.19114080830784705; -0.10194926287467768 0.5829121327500763], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1  …  1, 1, 2, 1, 2, 1, 1, 1, 1, 1], [8.376324686216986, 7.847146089242774, 11.9947752522232, 11.213791666113309, 24.528422594675334, 7.036462409467005, 19.446727817076905, 10.753772897053182, 17.510086390936003, 2.035837344361674  …  8.690924196475642, 5.171122741548809, 10.303458953539973, 6.555155086250427, 138.2806768840774, 5.424129436856107, 4.508825264197722, 8.938332890365992, 5.5249803762112935, 7.480858537767784], [120994, 10818], [120994, 10818], 1.2852000877241555e6, 5, true)

In [119]:
#Save the Cluster result
df_trn = DataFrame(CSV.File("Breakfast_Weekday_transaction_key.csv"))
df1 = DataFrame(store_transaction_key = df_trn.store_transaction_key ,cluster = result.assignments)
CSV.write("Breakfast_Weekday_Clusters.csv",df1)

"Breakfast_Weekday_Clusters.csv"

### Breakfast_Weekend

In [120]:
#load the embedding file
embedding = DataFrame(CSV.File("Breakfast_Weekend_embedding.csv"))
embedding = Matrix(embedding)'

20×71891 adjoint(::Matrix{Float64}) with eltype Float64:
  0.372556   -0.266937   0.24977     1.88038     …   1.37042     0.333757
 -0.313874   -0.544634  -0.290599    1.5778          0.292717    0.343022
 -0.123103   -0.663282  -0.153279    0.168579       -1.22561    -0.343002
 -0.360869   -1.30533   -0.449341    0.256847       -0.902404   -0.777397
  0.50701     0.750812   0.466164   -0.565964        1.88297     1.40189
  0.982093    1.83848    0.929596   -0.327728    …   1.88191     0.282751
  0.0486435   0.403699   0.177429   -1.82325         1.20285     0.298568
 -0.359112   -0.567493  -0.461527   -0.0127245       0.0863854   0.532484
  0.5922      1.24965    0.616551   -0.635856       -0.244929   -0.391113
 -0.40232    -0.760717  -0.5195      0.387407        1.92265     1.18049
 -0.322769   -0.576413  -0.434824   -1.29576     …  -0.410703   -0.176743
 -0.356571   -0.256119  -0.113509    0.210346       -1.03501    -0.633606
 -0.0423897   0.174509   0.111712    1.07753        -0.804012   -0.975766
  0.267254    0.874318   0.302832   -0.701166       -1.04872    -0.241042
  0.299828    0.708387   0.221705    0.362788       -0.21847    -0.044385
  0.500402    0.811254   0.533736   -0.0184838   …   0.463271   -0.197155
  0.737289    1.35616    0.39863     1.32993        -1.4631      0.36771
  0.315673    1.11474    0.495797   -0.00863849     -0.631422    0.0326283
 -0.0336136  -0.604548  -0.216098    0.606003       -2.13544    -0.931456
  0.036022   -0.549556  -0.0190077   0.235265        0.449767    0.628694

In [121]:
#perform the K-means Cluster
result = kmeans(embedding, 2)
#no cluster possible

KmeansResult{Matrix{Float64}, Float64, Int64}([-1.3104686166164932 -0.049369307884556804; -0.8040170243434672 -0.021538313534344815; … ; -0.7569409719604064 -0.06617524960918907; -0.12964844808855597 0.0982944072078865], [2, 2, 2, 2, 2, 2, 2, 2, 2, 2  …  2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [6.922773068366034, 20.841040899767343, 6.548745310070032, 17.516303099728407, 3.4036185668025096, 5.347586277745385, 1.78662896777641, 3.1357072079700923, 2.1545036590447917, 7.804807056483603  …  7.121416389023723, 10.64177606392994, 7.816801907680354, 12.873327721947964, 9.877884389797163, 8.970287924031357, 6.195492495262455, 4.651918735274796, 30.834195745205506, 10.842618782713059], [30698, 41193], [30698, 41193], 752705.7487613951, 13, true)

In [122]:
#Save the Cluster result
df_trn = DataFrame(CSV.File("Breakfast_Weekend_transaction_key.csv"))
df1 = DataFrame(store_transaction_key = df_trn.store_transaction_key ,cluster = ones(length(df_trn.store_transaction_key)))
CSV.write("Breakfast_Weekend_Clusters.csv",df1)

"Breakfast_Weekend_Clusters.csv"

### Dinner_Weekday

In [123]:
#load the embedding file
embedding = DataFrame(CSV.File("Dinner_Weekday_embedding.csv"))
embedding = Matrix(embedding)'

20×370587 adjoint(::Matrix{Float64}) with eltype Float64:
  0.0807736  -0.110399  -0.251264    …   0.531692    0.486949     0.178528
 -0.181403   -0.207228  -0.540134        0.84595     0.777913     0.0217549
  0.472851    0.8565     1.08669         0.511388    0.0240603    0.0130382
 -0.724752   -1.29321   -0.822451        1.07786     0.387327    -0.203487
 -0.297743   -0.43303    0.130671       -0.259268   -0.951213     0.0530786
 -0.0460276  -0.127818  -0.0112444   …  -0.367387   -0.123161     0.0912789
  0.125119    0.273957   0.173402       -0.545894   -0.235022    -0.171274
  0.399329    0.744113   0.463469       -0.138561   -0.710823     0.0461399
 -0.162985   -0.294044  -0.202941        0.175265    0.00757571  -0.374797
 -0.309832   -0.222309  -0.0119564      -0.33333    -0.785822    -0.522906
  0.879035    1.73214    1.02657     …  -0.406884   -0.56223      0.0537822
  0.641812    1.38999    0.972064       -0.035325    0.729042    -0.150086
 -0.148668   -0.202345   0.205022        0.683239    0.81125      0.0362989
 -0.600011   -1.1764    -0.968661        0.0472325   0.22988      0.244246
 -0.0195764  -0.10237   -0.00318878      0.262361   -0.397229    -0.120178
 -0.210922   -0.894782  -0.648718    …   0.51729    -0.016625    -0.269933
  0.217447    0.222955   0.115135        0.73692     0.0406738    0.394099
 -0.164694   -0.789421  -0.282511       -0.289946    0.410061     0.178828
  0.43975     1.04296    0.691476        0.0191756   0.462571    -0.200147
 -0.277423   -0.58017   -0.412359        0.107862    0.724089    -0.261743

In [124]:
#perform the K-means Cluster
result = kmeans(embedding, 3)

KmeansResult{Matrix{Float64}, Float64, Int64}([-1.4294874555038852 0.42623293715621713 -0.0514437732108066; 1.3191348265822842 0.32436663755619016 0.630686115415426; … ; -0.6755017532107471 0.01804519060491235 -0.80843369418626; 0.47683069002709405 0.05134900283437604 -0.393042802007517], [2, 2, 2, 2, 2, 2, 2, 2, 2, 2  …  2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [3.6495794882636625, 13.40832968171983, 7.373258246428449, 28.877834921379748, 3.5458298711222156, 12.358937984851352, 3.6495794882636625, 7.679148602621564, 27.28904353337534, 13.523032458303014  …  1.8456051511851395, 1.0508820009065847, 1.1297420680449521, 17.205537297894516, 1.0737412165926326, 1.5761171952383428, 0.9953312387178338, 3.103892277586971, 4.1870204384985605, 0.9431870671647287], [17406, 220447, 132734], [17406, 220447, 132734], 2.7307240153547064e6, 22, true)

In [125]:
#Save the Cluster result
df_trn = DataFrame(CSV.File("Dinner_Weekday_transaction_key.csv"))
df1 = DataFrame(store_transaction_key = df_trn.store_transaction_key ,cluster = result.assignments)
CSV.write("Dinner_Weekday_Clusters.csv",df1)

"Dinner_Weekday_Clusters.csv"

### Dinner_Weekend

In [126]:
#load the embedding file
embedding = DataFrame(CSV.File("Dinner_Weekend_embedding.csv"))
embedding = Matrix(embedding)'

20×123724 adjoint(::Matrix{Float64}) with eltype Float64:
 -0.056664   0.129841   -0.131852   …   0.413788    0.32124     -0.604335
 -1.61709   -0.759426   -0.669773      -0.0123858   0.258321     0.170708
  1.68117    0.792435    0.824239       0.253044   -0.232599    -0.321831
  1.37442   -0.233935   -0.946427       0.0362252  -0.0173772   -0.0547052
 -1.7539     0.0926925  -0.318254       0.462365   -0.170488    -0.661649
 -1.81215   -0.211294    0.0826085  …  -0.25954    -0.27131     -0.571971
  0.216412   0.381626    0.227019       0.0766728  -0.320435    -0.0114739
  0.410128   0.492012    0.651527      -0.173813   -0.601068    -0.6111
  0.68258   -0.266702   -0.198676      -0.147526   -0.295446    -0.113853
 -0.902946  -0.475313   -0.210947      -0.175707   -0.655642    -0.115154
  1.42664    1.2201      1.19901    …  -0.139213   -0.305462    -0.0552342
 -0.861059   1.25013     1.05935        0.275395    0.469376    -0.467399
  0.22676   -0.059696    0.139943      -0.175131    0.0454334    1.03128
  1.25325   -0.743605   -0.649028       0.408211    0.201238     0.309577
  1.3065    -0.0753849  -0.109122      -0.0849213  -0.471826     0.211228
 -0.830621  -0.649779   -0.583533   …   0.0453458  -0.00559826  -0.466788
 -2.11688    0.478626    0.153592       0.0339106   0.508778    -0.179886
 -1.47379   -0.0805059  -0.135043      -0.0504766   0.381075    -0.296108
  0.467957   0.663919    0.608465      -0.155738    0.373859    -0.613469
  0.632305  -0.692868   -0.513353      -0.252317    0.26242     -0.424229

In [127]:
#perform the K-means Cluster
result = kmeans(embedding, 3)

KmeansResult{Matrix{Float64}, Float64, Int64}([0.2514832458012829 -2.0260125856235502 -0.014484215518187137; 0.49427121930113577 2.1065971952065516 0.1558224892856436; … ; -0.2571554529285567 -0.8344366250471729 -0.5200914804453568; -0.13010337688394102 0.4463294866736241 0.1648154870564845], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1  …  1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [31.470272670543032, 10.088511941133383, 9.548110111435589, 9.72030305042693, 21.556487163320963, 22.7815934260218, 24.05376382586239, 15.369731756119574, 16.611282225018293, 19.96639809054373  …  5.0459636780896, 2.7190735830192176, 4.1802378452304465, 3.6505311435831667, 3.916555006461296, 3.343806939227589, 3.4292438669407703, 3.4292438669407703, 2.83685119348947, 2.6202453953269176], [109349, 2743, 11632], [109349, 2743, 11632], 1.1405663874145201e6, 52, true)

In [128]:
#Save the Cluster result
df_trn = DataFrame(CSV.File("Dinner_Weekend_transaction_key.csv"))
df1 = DataFrame(store_transaction_key = df_trn.store_transaction_key ,cluster = result.assignments)
CSV.write("Dinner_Weekend_Clusters.csv",df1)

"Dinner_Weekend_Clusters.csv"

### Lunch_Weekday

In [129]:
#load the embedding file
embedding = DataFrame(CSV.File("Lunch_Weekday_embedding.csv"))
embedding = Matrix(embedding)'

20×409783 adjoint(::Matrix{Float64}) with eltype Float64:
 -0.122057    -0.367377   -0.845733   …   0.178528    0.413788    0.0594564
 -0.513262    -0.566901   -0.980413       0.0217549  -0.0123858   0.0393438
  0.693519     1.13106     1.88027        0.0130382   0.253044    0.0522137
 -1.23886     -1.5333     -1.83487       -0.203487    0.0362252  -0.124757
 -0.39336     -0.0225692   0.410814       0.0530786   0.462365   -0.0489487
  0.188452     0.205838    0.359629   …   0.0912789  -0.25954     0.0577221
  0.120312     0.203381    0.07619       -0.171274    0.0766728   0.107286
  0.612771     0.612477    0.651718       0.0461399  -0.173813    0.240561
 -0.164136     0.0036094  -0.252699      -0.374797   -0.147526   -0.438675
 -0.00802361   0.305402    0.69883       -0.522906   -0.175707   -0.467532
  1.19227      1.34173     1.78422    …   0.0537822  -0.139213    0.00421227
  0.861892     1.30816     1.9721        -0.150086    0.275395    0.0215598
  0.105181     0.27866     0.663522       0.0362989  -0.175131    0.0714674
 -0.734523    -0.876154   -1.78709        0.244246    0.408211    0.253827
 -0.00560564   0.129348    0.0747223     -0.120178   -0.0849213  -0.232825
 -0.502638    -1.0114     -1.64494    …  -0.269933    0.0453458  -0.185961
  0.0440694   -0.180158   -0.333513       0.394099    0.0339106   0.394396
 -0.345433    -0.63274    -1.01351        0.178828   -0.0504766   0.276947
  0.592342     0.817723    1.46286       -0.200147   -0.155738   -0.120972
 -0.556627    -0.671362   -1.1625        -0.261743   -0.252317   -0.291218

In [130]:
#perform the K-means Cluster
result = kmeans(embedding, 6)

KmeansResult{Matrix{Float64}, Float64, Int64}([1.4990014309721216 -0.39421581030685987 … 0.38123790139200797 0.023910004768047596; 0.9591152260785674 0.4899232780237265 … 0.34124345938376033 0.25078116826713404; … ; -1.044533438147529 -0.6868523587661068 … 0.08342817820159998 -0.3459880624145346; -0.3616168730650625 -0.36814751001744095 … 0.11693478351966476 0.28761373993558775], [3, 3, 3, 3, 3, 3, 3, 3, 3, 3  …  5, 5, 6, 5, 5, 5, 5, 5, 5, 5], [1.1417452828882944, 1.5969070621008292, 7.479689707132181, 2.0753028967846614, 0.9251659382995321, 12.114839585003132, 10.110471957723291, 0.8646632303878512, 10.01983820791498, 1.5768670543265948  …  1.7293437625001002, 3.0780092651909032, 1.9455170963472699, 1.5151697465857823, 6.354567250178774, 0.8920719480744574, 5.3335460646901485, 1.091991460707535, 1.5326044495683306, 1.3430500736138926], [29406, 115396, 19955, 17580, 197644, 29802], [29406, 115396, 19955, 17580, 197644, 29802], 2.0699198917011449e6, 60, true)

In [131]:
#Save the Cluster result
df_trn = DataFrame(CSV.File("Lunch_Weekday_transaction_key.csv"))
df1 = DataFrame(store_transaction_key = df_trn.store_transaction_key ,cluster = result.assignments)
CSV.write("Lunch_Weekday_Clusters.csv",df1)

"Lunch_Weekday_Clusters.csv"

### Lunch_Weekend

In [132]:
#load the embedding file
embedding = DataFrame(CSV.File("Lunch_Weekend_embedding.csv"))
embedding = Matrix(embedding)'

20×157689 adjoint(::Matrix{Float64}) with eltype Float64:
  0.1069     -0.319329   -0.20871      …   0.139421    0.127595     0.388387
 -0.599278   -0.361963   -0.628395         0.274628   -0.00770821  -0.0298589
  0.938032    1.1182      0.826695        -0.215686    0.380518     0.248771
 -0.785116   -1.81783    -1.06537         -0.312846    0.114318    -0.0178658
 -0.352354   -0.728717   -0.24234         -0.478996   -0.0362984    0.443795
 -0.0957394   0.0771736   0.223697     …  -0.995031    0.124966    -0.292664
  0.310466    0.278642    0.270913        -1.07708    -0.0800129   -0.0198879
  0.836731    0.994123    0.684424        -0.146555    0.148707    -0.0966249
 -0.467967   -0.34041     0.000262579      0.0291816  -0.500023    -0.165642
 -0.382465   -0.102178   -0.168292        -0.880115   -0.441527    -0.22247
  1.74037     2.18424     1.17365      …  -0.32797    -0.0291582   -0.169128
  1.41279     1.68927     0.998852         0.505731   -0.183        0.29581
 -0.153014   -0.156747    0.165141        -0.222131    0.173888    -0.232049
 -1.07153    -1.09349    -0.534801         0.554275    0.125468     0.370124
 -0.0913908  -0.158718    0.127977         0.172621   -0.0824527   -0.0659328
 -0.867903   -1.09349    -0.600907     …   0.197845    0.0467883   -0.0799536
  0.429981    0.127654    0.107798         1.17881     0.339174     0.0333268
 -0.511656   -0.76541    -0.119659         0.429606    0.208802    -0.0821113
  1.05648     1.19377     0.459546         0.696709    0.121024    -0.0449218
 -0.870153   -0.62653    -0.655113         0.0952994  -0.269795    -0.298718

In [133]:
#perform the K-means Cluster
result = kmeans(embedding, 4)

KmeansResult{Matrix{Float64}, Float64, Int64}([-2.871756272597496 0.4024580694053853 -1.231365407867038 -0.08709232105201252; 3.4520503513817435 0.29893059495331314 1.0817371935646432 0.6167849002840615; … ; -1.1423439618685263 0.09219460434521415 -0.6260239507968697 -0.7507330940890463; 0.3820529610100579 0.055153396809266904 0.4957275072690278 -0.36017116878181366], [2, 2, 2, 2, 2, 2, 2, 2, 2, 2  …  2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [11.928033852588076, 18.70563079628844, 7.020072187701662, 12.928380121499474, 11.717164135449949, 6.9182304052203625, 11.4775785300767, 6.191275749513807, 7.089815614014664, 11.4775785300767  …  2.2022205537280506, 1.4874824002179772, 0.8131701181584703, 1.8705447659658012, 2.8771813550216696, 2.782105197481081, 0.8312289752232094, 4.299955511007342, 0.970443829852528, 1.372099641103234], [1059, 97553, 7140, 51937], [1059, 97553, 7140, 51937], 1.066104048027088e6, 10, true)

In [134]:
#Save the Cluster result
df_trn = DataFrame(CSV.File("Lunch_Weekend_transaction_key.csv"))
df1 = DataFrame(store_transaction_key = df_trn.store_transaction_key ,cluster = result.assignments)
CSV.write("Lunch_Weekend_Clusters.csv",df1)

"Lunch_Weekend_Clusters.csv"

# Preprocessing for Plotting the results across various parameters

In [1]:
using Pkg
using DataFrames
using CSV
using Plots
using Word2Vec

## Cluster Vs Item Frequency

In [2]:
df = DataFrame(CSV.File("Dataset1.csv"))

6859688×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              6 columns and 6859667 rows omitted

In [3]:
df = groupby(df,:transaction_type)

GroupedDataFrame with 3 groups based on key: transaction_type
First Group (5214325 rows): transaction_type = "M"
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214315 │      670    200006  RT BEER -M        M                       2.757
 5214316 │      670    921046  5P ACB 30%        M                       9.626 ⋯
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056 ⋯
 5214321 │      670    914357  1P EGG TART       M                       1.215
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214325 │      670    921046  5P ACB 30%        M                       9.626
                                              6 columns and 5214303 rows omitted
⋮
Last Group (12833 rows): transaction_type = "D"
   Row │ storenum  item_key  item_description     transaction_type  sales_amou ⋯
       │ Int64     Int64     String               String            Float64    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      502      2000  25% EMP DISC         D                      -1.96 ⋯
     2 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     3 │      502      8027  10% OFF GES DEAL     D                      -1.81
     4 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     5 │      504      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
     6 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     7 │      504      3007  $1-OFF(PAssion)      D                       0.93
     8 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     9 │      504      5010  10% OFF(LSM)         D                      -0.94 ⋯
    10 │      504      8027  10% OFF GES DEAL     D                      -2.24
    11 │      505      5016  10% OFF xFOOD PANDA  D                      -1.07
   ⋮   │    ⋮         ⋮               ⋮                  ⋮               ⋮     ⋱
 12823 │      660      8027  10% OFF GES DEAL     D                      -0.46
 12824 │      660      8027  10% OFF GES DEAL     D                      -1.66 ⋯
 12825 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12826 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12827 │      664      8027  10% OFF GES DEAL     D                      -0.60
 12828 │      665      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
 12829 │      665      3007  $1-OFF(PAssion)      D                      -0.93
 12830 │      665      5010  10% OFF(LSM)         D                      -0.46
 12831 │      666      3007  $1-OFF(PAssion)      D                      -0.93
 12832 │      670      8027  10% OFF GES DEAL     D                      -0.78 ⋯
 12833 │      670      8027  10% OFF GES DEAL     D                      -0.32
                                                6 columns and 12811 rows omitted

In [4]:
df = df[1]

5214325×10 SubDataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              6 columns and 5214304 rows omitted

In [5]:
df = groupby(df,:daypart)

GroupedDataFrame with 6 groups based on key: daypart
First Group (593802 rows): daypart = "Breakfast_Weekday"
    Row │ storenum  item_key  item_description  transaction_type  sales_amount ⋯
        │ Int64     Int64     String            String            Float64      ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      502    916755  D-10P CKN BKT     M                      26.9159 ⋯
      2 │      502    710033  DEL SURCHARGE     M                       3.7383
      3 │      502    700103  D-3PC ML(OR)      M                      58.4112
      4 │      502    710033  DEL SURCHARGE     M                       3.7383
      5 │      502    710009  D-ZINGER          M                      10.9346 ⋯
      6 │      502    700103  D-3PC ML(OR)      M                      46.729
      7 │      502    710033  DEL SURCHARGE     M                       3.7383
      8 │      502    922023  D-10 FOR $10      M                       9.3458
      9 │      502    913618  D-10P CKN 2-5PM   M                      16.8224 ⋯
     10 │      502    710033  DEL SURCHARGE     M                       3.7383
     11 │      502    916137  D-FM POT BWL      M                       5.0
   ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮       ⋱
 593792 │      670    539990  *                 M                       0.0
 593793 │      670    918058  TGY PKT           M                       5.4673 ⋯
 593794 │      670     75004  POPCORN L         M                       4.3925
 593795 │      670     75005  CHZ FRIES         M                       4.1121
 593796 │      670    914357  1P EGG TART       M                       1.215
 593797 │      670    922110  2P(TG) ML         M                       8.3645 ⋯
 593798 │      670    921826  $2.5 3PTEN+1DIP   M                       2.3364
 593799 │      670    922202  2P CKN+SJ-R       M                       0.9346
 593800 │      670     30001  2P(OR)ML-A        M                       7.8505
 593801 │      670    922062  AO MASK B         M                       1.8224 ⋯
 593802 │      670     80001  SHRM BGR          M                       2.8037
                                               5 columns and 593780 rows omitted
⋮
Last Group (645209 rows): daypart = "Lunch_Weekend"
    Row │ storenum  item_key  item_description      transaction_type  sales_am ⋯
        │ Int64     Int64     String                String            Float64  ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      502    710009  D-ZINGER              M                       5. ⋯
      2 │      502    913299  D-AO 2 CHZ FRIES-APP  M                       5.
      3 │      502    916755  D-10P CKN BKT         M                      26.
      4 │      502    710033  DEL SURCHARGE         M                       3.
      5 │      502    710021  D-W/PT MED            M                       6. ⋯
      6 │      502    710018  D-C/SL MED            M                       6.
      7 │      502    922023  D-10 FOR $10          M                       9.
      8 │      502    916755  D-10P CKN BKT         M                      26.
      9 │      502    710033  DEL SURCHARGE         M                       3. ⋯
     10 │      502    922023  D-10 FOR $10          M                       9.
     11 │      502    916131  D-1P CRY BWL ML       M                       7.
   ⋮    │    ⋮         ⋮               ⋮                   ⋮               ⋮   ⋱
 645199 │      670    400134  RP>SJORA -R           M                       0.
 645200 │      670    921826  $2.5 3PTEN+1DIP       M                       2. ⋯
 645201 │      670    922110  2P(TG) ML             M                       8.
 645202 │      670    922110  2P(TG) ML             M                       8.
 645203 │      670     45104  2P TDR SNCKR          M                       3.
 645204 │      670     75004  POPCORN L             M                       8. ⋯
 645205 │      670    916089  OR RC BWL ML          M                       4.
 645206 │      670    922086  $2.95 ZNG             M                       2.
 645207 │      670    914982  FAM POT ML            M                       4.
 645208 │      670    922255  10P CEL FST           M                      39. ⋯
 645209 │      670    922202  2P CKN+SJ-R           M                       0.
                                               6 columns and 645187 rows omitted

In [6]:
function remove_space(s)
    s1 = ""
    for i in 1:length(s)
        if(!isspace(s[i]))
            s1 = s1 * s[i]
        end
    end
    return s1
end

remove_space (generic function with 1 method)

In [7]:
function cluster_dict(daypart)
    filename = daypart * "_Clusters.csv"
    df1 = DataFrame(CSV.File(filename))
    dict = Dict()
    for i in 1:size(df1,1)
        dict[df1.store_transaction_key[i]] = df1.cluster[i]
    end
    return dict
end

cluster_dict (generic function with 1 method)

In [8]:
function word_dict()
    dict = Dict()
    model = wordvectors("text-vec.txt")
    words = vocabulary(model)
    for i in 1:length(words)
        dict[words[i]] = i
    end
    return dict
end

word_dict (generic function with 1 method)

In [11]:
function compute_freq(grp)
    dict_cluster = cluster_dict(grp.daypart[1])
    arr_cluster = []
    for i in 1:size(grp,1)
        push!(arr_cluster,dict_cluster[grp.store_transaction_key[i]])
    end
    df_new = DataFrame(item_description = grp.item_description , cluster = arr_cluster)
    g_clus = groupby(df_new,:cluster)
    dict_word = word_dict()
    model = wordvectors("text-vec.txt")
    words = vocabulary(model)
    for i in 1:length(g_clus)
        freq = zeros(length(words))
        g_item = groupby(g_clus[i],:item_description)
        #println(length(g_item))
        for j in 1:length(g_item)
            item = remove_space(g_item[j].item_description[1])
            freq[dict_word[item]] = size(g_item[j],1)
        end
        df_temp = DataFrame(Words = words , Frequency = freq )
        filename = grp.daypart[1] * "_Cluster-" * string(g_clus[i].cluster[1]) * "_Word_Frequency.csv"
        #println(filename)
        CSV.write(filename,df_temp)
    end
end

compute_freq (generic function with 1 method)

In [14]:
for i in 1:length(df)
    compute_freq(df[i])
end

1061
Breakfast_Weekday_Cluster-1_Word_Frequency.csv
280
Breakfast_Weekday_Cluster-2_Word_Frequency.csv
402
Lunch_Weekday_Cluster-3_Word_Frequency.csv
808
Lunch_Weekday_Cluster-5_Word_Frequency.csv
289
Lunch_Weekday_Cluster-4_Word_Frequency.csv
744
Lunch_Weekday_Cluster-2_Word_Frequency.csv
560
Lunch_Weekday_Cluster-1_Word_Frequency.csv
701
Lunch_Weekday_Cluster-6_Word_Frequency.csv
1063
Dinner_Weekday_Cluster-2_Word_Frequency.csv
803
Dinner_Weekday_Cluster-3_Word_Frequency.csv
321
Dinner_Weekday_Cluster-1_Word_Frequency.csv
902
Dinner_Weekend_Cluster-1_Word_Frequency.csv
467
Dinner_Weekend_Cluster-3_Word_Frequency.csv
187
Dinner_Weekend_Cluster-2_Word_Frequency.csv
1021
Breakfast_Weekend_Cluster-1.0_Word_Frequency.csv
951
Lunch_Weekend_Cluster-2_Word_Frequency.csv
715
Lunch_Weekend_Cluster-4_Word_Frequency.csv
300
Lunch_Weekend_Cluster-3_Word_Frequency.csv
124
Lunch_Weekend_Cluster-1_Word_Frequency.csv

## sales_channel_preprocessing

In [3]:
df = DataFrame(CSV.File("Dataset1.csv"))

6859688×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              6 columns and 6859667 rows omitted

In [4]:
grp = groupby(df,:transaction_type)

GroupedDataFrame with 3 groups based on key: transaction_type
First Group (5214325 rows): transaction_type = "M"
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214315 │      670    200006  RT BEER -M        M                       2.757
 5214316 │      670    921046  5P ACB 30%        M                       9.626 ⋯
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056 ⋯
 5214321 │      670    914357  1P EGG TART       M                       1.215
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214325 │      670    921046  5P ACB 30%        M                       9.626
                                              6 columns and 5214303 rows omitted
⋮
Last Group (12833 rows): transaction_type = "D"
   Row │ storenum  item_key  item_description     transaction_type  sales_amou ⋯
       │ Int64     Int64     String               String            Float64    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      502      2000  25% EMP DISC         D                      -1.96 ⋯
     2 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     3 │      502      8027  10% OFF GES DEAL     D                      -1.81
     4 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     5 │      504      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
     6 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     7 │      504      3007  $1-OFF(PAssion)      D                       0.93
     8 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     9 │      504      5010  10% OFF(LSM)         D                      -0.94 ⋯
    10 │      504      8027  10% OFF GES DEAL     D                      -2.24
    11 │      505      5016  10% OFF xFOOD PANDA  D                      -1.07
   ⋮   │    ⋮         ⋮               ⋮                  ⋮               ⋮     ⋱
 12823 │      660      8027  10% OFF GES DEAL     D                      -0.46
 12824 │      660      8027  10% OFF GES DEAL     D                      -1.66 ⋯
 12825 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12826 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12827 │      664      8027  10% OFF GES DEAL     D                      -0.60
 12828 │      665      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
 12829 │      665      3007  $1-OFF(PAssion)      D                      -0.93
 12830 │      665      5010  10% OFF(LSM)         D                      -0.46
 12831 │      666      3007  $1-OFF(PAssion)      D                      -0.93
 12832 │      670      8027  10% OFF GES DEAL     D                      -0.78 ⋯
 12833 │      670      8027  10% OFF GES DEAL     D                      -0.32
                                                6 columns and 12811 rows omitted

In [16]:
grp_t = DataFrame(grp[2])

1632530×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502         1  D-CASH            T                    30.6542  ⋯
       2 │      502         1  D-CASH            T                    62.1495
       3 │      502         1  D-CASH            T                    61.4019
       4 │      502         3  D-DBS Paylah      T                    29.9065
       5 │      502         8  D-eNETS CREDIT    T                    29.6729  ⋯
       6 │      502         8  D-eNETS CREDIT    T                    42.0093
       7 │      502         8  D-eNETS CREDIT    T                   111.682
       8 │      502         3  D-DBS Paylah      T                    18.6916
       9 │      502         3  D-DBS Paylah      T                    37.1028  ⋯
      10 │      502         3  D-DBS Paylah      T                    25.1869
      11 │      502         8  D-eNETS CREDIT    T                    17.0093
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 1632521 │      670         7  KIOSK DBS M/VISA  T                     6.02804
 1632522 │      670         7  KIOSK DBS M/VISA  T                    14.3925  ⋯
 1632523 │      670        15  DI-DBS PAYLAH     T                     3.97196
 1632524 │      670         8  D-eNETS CREDIT    T                    34.6729
 1632525 │      670         8  D-eNETS CREDIT    T                     9.62617
 1632526 │      670        15  DI-DBS PAYLAH     T                     0.93457 ⋯
 1632527 │      670         8  D-eNETS CREDIT    T                    25.4206
 1632528 │      670         8  D-eNETS CREDIT    T                    11.6355
 1632529 │      670         8  D-eNETS CREDIT    T                    11.6355
 1632530 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              6 columns and 1632509 rows omitted

In [17]:
grp_m = DataFrame(grp[1])

5214325×10 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              6 columns and 5214304 rows omitted

In [18]:
gdf_t = groupby(grp_t,[:store_transaction_key])

GroupedDataFrame with 1264698 groups based on key: store_transaction_key
First Group (1 row): store_transaction_key = "502_1724_2021-03-29"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      502         1  D-CASH            T                      30.6542  O ⋯
                                                               5 columns omitted
⋮
Last Group (1 row): store_transaction_key = "670_5319_2021-05-07"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      670        15  DI-DBS PAYLAH     T                      9.62617  S ⋯
                                                               5 columns omitted

In [19]:
gdf_m = groupby(grp_m,[:store_transaction_key])

GroupedDataFrame with 1264699 groups based on key: store_transaction_key
First Group (2 rows): store_transaction_key = "502_1724_2021-03-29"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      502    916755  D-10P CKN BKT     M                      26.9159  O ⋯
   2 │      502    710033  DEL SURCHARGE     M                       3.7383  O
                                                               5 columns omitted
⋮
Last Group (1 row): store_transaction_key = "670_5319_2021-05-07"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      670    921046  5P ACB 30%        M                       9.6262  S ⋯
                                                               5 columns omitted

In [20]:
grp_sa_t = combine(gdf_t,:sales_amount =>sum)

1264698×2 DataFrame
     Row │ store_transaction_key  sales_amount_sum
         │ String                 Float64
─────────┼─────────────────────────────────────────
       1 │ 502_1724_2021-03-29           30.6542
       2 │ 502_1725_2021-03-29           62.1495
       3 │ 502_1726_2021-03-29           61.4019
       4 │ 502_1727_2021-03-29           29.9065
       5 │ 502_1728_2021-03-29           29.6729
       6 │ 502_1729_2021-03-29           42.0093
       7 │ 502_1730_2021-03-29          111.682
       8 │ 502_1731_2021-03-29           18.6916
       9 │ 502_1732_2021-03-29           37.1028
      10 │ 502_1733_2021-03-29           25.1869
      11 │ 502_1734_2021-03-29           17.0093
    ⋮    │           ⋮                   ⋮
 1264689 │ 670_5310_2021-05-07            6.02804
 1264690 │ 670_5311_2021-05-07           14.3925
 1264691 │ 670_5312_2021-05-07            3.97196
 1264692 │ 670_5313_2021-05-07           34.6729
 1264693 │ 670_5314_2021-05-07            9.62617
 1264694 │ 670_5315_2021-05-07            0.934579
 1264695 │ 670_5316_2021-05-07           25.4206
 1264696 │ 670_5317_2021-05-07           11.6355
 1264697 │ 670_5318_2021-05-07           11.6355
 1264698 │ 670_5319_2021-05-07            9.62617
                               1264677 rows omitted

In [21]:
grp_sa_m = combine(gdf_m,:sales_amount =>sum)

1264699×2 DataFrame
     Row │ store_transaction_key  sales_amount_sum
         │ String                 Float64
─────────┼─────────────────────────────────────────
       1 │ 502_1724_2021-03-29             30.6542
       2 │ 502_1725_2021-03-29             62.1495
       3 │ 502_1726_2021-03-29             61.4019
       4 │ 502_1727_2021-03-29             29.9065
       5 │ 502_1728_2021-03-29             29.6728
       6 │ 502_1729_2021-03-29             42.0093
       7 │ 502_1730_2021-03-29            111.682
       8 │ 502_1731_2021-03-29             18.6916
       9 │ 502_1732_2021-03-29             37.1028
      10 │ 502_1733_2021-03-29             25.1869
      11 │ 502_1734_2021-03-29             17.0094
    ⋮    │           ⋮                   ⋮
 1264690 │ 670_5310_2021-05-07              6.028
 1264691 │ 670_5311_2021-05-07             14.3925
 1264692 │ 670_5312_2021-05-07              3.972
 1264693 │ 670_5313_2021-05-07             34.6729
 1264694 │ 670_5314_2021-05-07              9.6262
 1264695 │ 670_5315_2021-05-07              0.9346
 1264696 │ 670_5316_2021-05-07             25.4206
 1264697 │ 670_5317_2021-05-07             11.6356
 1264698 │ 670_5318_2021-05-07             11.6356
 1264699 │ 670_5319_2021-05-07              9.6262
                               1264678 rows omitted

In [22]:
map = Dict()

for i in 1:length(grp_sa_m.store_transaction_key)
    if grp_sa_m.sales_amount_sum[i]<15
        map[grp_sa_m.store_transaction_key[i]] = "lowend"
    else
        map[grp_sa_m.store_transaction_key[i]] = "highend"
    end
end

In [23]:
for i in 1:length(grp_sa_t.store_transaction_key)
    if grp_sa_t.sales_amount_sum[i]<15
        map[grp_sa_t.store_transaction_key[i]] = "lowend"
    else
        map[grp_sa_t.store_transaction_key[i]] = "highend"
    end
end

58.41121494000001

In [24]:
ar = []

for i in 1:length(df.storenum)
    push!(ar,map[df.store_transaction_key[i]])
end

df.end1 = ar

6859688-element Vector{Any}:
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 "highend"
 ⋮
 "highend"
 "highend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"
 "lowend"

In [ ]:
CSV.write("Dataset2.csv",df)

## For cluster vs sales_channel plots preprocessing

In [3]:
df = DataFrame(CSV.File("Dataset2.csv"))

6859688×11 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              7 columns and 6859667 rows omitted

In [4]:
grp = groupby(df,:store_transaction_key)

GroupedDataFrame with 1264700 groups based on key: store_transaction_key
First Group (3 rows): store_transaction_key = "502_1724_2021-03-29"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      502    916755  D-10P CKN BKT     M                      26.9159  O ⋯
   2 │      502    710033  DEL SURCHARGE     M                       3.7383  O
   3 │      502         1  D-CASH            T                      30.6542  O
                                                               6 columns omitted
⋮
Last Group (2 rows): store_transaction_key = "670_5319_2021-05-07"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      670    921046  5P ACB 30%        M                      9.6262   S ⋯
   2 │      670        15  DI-DBS PAYLAH     T                      9.62617  S
                                                               6 columns omitted

In [5]:
sales_channel = []
store_transaction_key = []

for i in 1:length(grp)
    push!(sales_channel,grp[i].sales_channel[1])
    push!(store_transaction_key,grp[i].store_transaction_key[1])
end

df_key_channel = DataFrame()

df_key_channel.store_transaction_key = store_transaction_key
df_key_channel.sales_channel = sales_channel

1264700-element Vector{Any}:
 "Online-Delivery"
 "Phone-Delivery"
 "Phone-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 "Online-Delivery"
 ⋮
 "Self-Ordering EI"
 "Self-Ordering EI"
 "Self-Ordering EI"
 "Self-Ordering TA"
 "Self-Ordering EI"
 "Self-Ordering EI"
 "Self-Ordering TA"
 "Self-Ordering TA"
 "Self-Ordering TA"
 "Self-Ordering EI"
 "Self-Ordering EI"
 "Self-Ordering TA"

In [6]:
CSV.write("df_key_channel.csv",df_key_channel)

"df_key_channel.csv"

In [7]:
dict = Dict()

for i in 1:length(df_key_channel.store_transaction_key)
    dict[df_key_channel.store_transaction_key[i]] = df_key_channel.sales_channel[i]
end

In [8]:
function key_channel_cluster(input_df)
    sales_channel = []
    for i in 1:length(input_df.store_transaction_key)
        push!(sales_channel,dict[input_df.store_transaction_key[i]])
    end
    input_df.sales_channel = sales_channel
    return input_df
end

key_channel_cluster (generic function with 1 method)

In [9]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekday_Clusters.csv"))

131812×2 DataFrame
    Row │ store_transaction_key  cluster
        │ String                 Int64
────────┼────────────────────────────────
      1 │ 502_1724_2021-03-29          1
      2 │ 502_1725_2021-03-29          1
      3 │ 502_1726_2021-03-29          1
      4 │ 502_1727_2021-03-29          1
      5 │ 502_1728_2021-03-29          1
      6 │ 502_1729_2021-03-29          1
      7 │ 502_1730_2021-03-29          1
      8 │ 502_1731_2021-03-29          1
      9 │ 502_1732_2021-03-29          1
     10 │ 502_6095_2021-03-29          1
     11 │ 502_6096_2021-03-29          1
   ⋮    │           ⋮               ⋮
 131803 │ 670_4995_2021-05-07          1
 131804 │ 670_4996_2021-05-07          1
 131805 │ 670_4997_2021-05-07          2
 131806 │ 670_4998_2021-05-07          1
 131807 │ 670_4999_2021-05-07          2
 131808 │ 670_5212_2021-05-07          1
 131809 │ 670_5261_2021-05-07          1
 131810 │ 670_5262_2021-05-07          1
 131811 │ 670_5263_2021-05-07          1
 131812 │ 670_5264_2021-05-07          1
                      131791 rows omitted

In [10]:
df1 = key_channel_cluster(df1)

131812×3 DataFrame
    Row │ store_transaction_key  cluster  sales_channel
        │ String                 Int64    Any
────────┼───────────────────────────────────────────────────
      1 │ 502_1724_2021-03-29          1  Online-Delivery
      2 │ 502_1725_2021-03-29          1  Phone-Delivery
      3 │ 502_1726_2021-03-29          1  Phone-Delivery
      4 │ 502_1727_2021-03-29          1  Online-Delivery
      5 │ 502_1728_2021-03-29          1  Online-Delivery
      6 │ 502_1729_2021-03-29          1  Online-Delivery
      7 │ 502_1730_2021-03-29          1  Online-Delivery
      8 │ 502_1731_2021-03-29          1  Online-Delivery
      9 │ 502_1732_2021-03-29          1  Online-Delivery
     10 │ 502_6095_2021-03-29          1  Breakfast (BF)
     11 │ 502_6096_2021-03-29          1  Drive-Thru
   ⋮    │           ⋮               ⋮             ⋮
 131803 │ 670_4995_2021-05-07          1  Eat In (EI)
 131804 │ 670_4996_2021-05-07          1  Eat In (EI)
 131805 │ 670_4997_2021-05-07          2  Grabfood Daypart
 131806 │ 670_4998_2021-05-07          1  Eat In (EI)
 131807 │ 670_4999_2021-05-07          2  Grabfood Daypart
 131808 │ 670_5212_2021-05-07          1  Self-Ordering TA
 131809 │ 670_5261_2021-05-07          1  Self-Ordering EI
 131810 │ 670_5262_2021-05-07          1  Self-Ordering EI
 131811 │ 670_5263_2021-05-07          1  Self-Ordering TA
 131812 │ 670_5264_2021-05-07          1  Self-Ordering EI
                                         131791 rows omitted

In [12]:
CSV.write("/home/vikas/Downloads/Breakfast_Weekday_Clusters_sales_channel.csv",df1)

"/home/vikas/Downloads/Breakfast_Weekday_Clusters_sales_channel.csv"

In [13]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekend_Clusters.csv"))
df1 = key_channel_cluster(df1)
CSV.write("/home/vikas/Downloads/Breakfast_Weekend_Clusters.csv_sales_channel.csv",df1)

"/home/vikas/Downloads/Breakfast_Weekend_Clusters.csv_sales_channel.csv"

In [14]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekend_Clusters.csv"))
df1 = key_channel_cluster(df1)
CSV.write("/home/vikas/Downloads/Dinner_Weekend_Clusters_sales_channel.csv",df1)

"/home/vikas/Downloads/Dinner_Weekend_Clusters_sales_channel.csv"

In [15]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekend_Clusters.csv"))
df1 = key_channel_cluster(df1)
CSV.write("/home/vikas/Downloads/Lunch_Weekend_Clusters_sales_channel.csv",df1)

"/home/vikas/Downloads/Lunch_Weekend_Clusters_sales_channel.csv"

In [16]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekday_Clusters.csv"))
df1 = key_channel_cluster(df1)
CSV.write("/home/vikas/Downloads/Lunch_Weekday_Clusters_sales_channel.csv",df1)

"/home/vikas/Downloads/Lunch_Weekday_Clusters_sales_channel.csv"

In [17]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekday_Clusters.csv"))
df1 = key_channel_cluster(df1)
CSV.write("/home/vikas/Downloads/Dinner_Weekday_Clusters_sales_channel.csv",df1)

"/home/vikas/Downloads/Dinner_Weekday_Clusters_sales_channel.csv"

In [20]:
#Preparing cluster-wise sales_channel data
function channel_vs_cluster(df)
    grp1 = groupby(df,:cluster)
    d = DataFrame()
    s = unique(df.sales_channel)
    d.i = s

    for i in 1:length(grp1)
        cnt=Dict()
        for j in 1:length(grp1[i].sales_channel)
            if grp1[i].sales_channel[j] in keys(cnt)
                cnt[grp1[i].sales_channel[j]]=cnt[grp1[i].sales_channel[j]] + 1
            else
                cnt[grp1[i].sales_channel[j]] = 1
            end
        end
        ar = []
        for (index,value) in enumerate(s)
            if value in keys(cnt)
                push!(ar,cnt[value])
            else
                push!(ar,0)
            end
        end
        dz=DataFrame()
        dz.i=ar
        d=hcat(d,dz,makeunique=true)
    end
    return d
end

channel_vs_cluster (generic function with 1 method)

In [19]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekday_Clusters_sales_channel.csv"))

131812×3 DataFrame
    Row │ store_transaction_key  cluster  sales_channel
        │ String                 Int64    String
────────┼───────────────────────────────────────────────────
      1 │ 502_1724_2021-03-29          1  Online-Delivery
      2 │ 502_1725_2021-03-29          1  Phone-Delivery
      3 │ 502_1726_2021-03-29          1  Phone-Delivery
      4 │ 502_1727_2021-03-29          1  Online-Delivery
      5 │ 502_1728_2021-03-29          1  Online-Delivery
      6 │ 502_1729_2021-03-29          1  Online-Delivery
      7 │ 502_1730_2021-03-29          1  Online-Delivery
      8 │ 502_1731_2021-03-29          1  Online-Delivery
      9 │ 502_1732_2021-03-29          1  Online-Delivery
     10 │ 502_6095_2021-03-29          1  Breakfast (BF)
     11 │ 502_6096_2021-03-29          1  Drive-Thru
   ⋮    │           ⋮               ⋮             ⋮
 131803 │ 670_4995_2021-05-07          1  Eat In (EI)
 131804 │ 670_4996_2021-05-07          1  Eat In (EI)
 131805 │ 670_4997_2021-05-07          2  Grabfood Daypart
 131806 │ 670_4998_2021-05-07          1  Eat In (EI)
 131807 │ 670_4999_2021-05-07          2  Grabfood Daypart
 131808 │ 670_5212_2021-05-07          1  Self-Ordering TA
 131809 │ 670_5261_2021-05-07          1  Self-Ordering EI
 131810 │ 670_5262_2021-05-07          1  Self-Ordering EI
 131811 │ 670_5263_2021-05-07          1  Self-Ordering TA
 131812 │ 670_5264_2021-05-07          1  Self-Ordering EI
                                         131791 rows omitted

In [21]:
df1 = channel_vs_cluster(df1)

17×3 DataFrame
 Row │ i                    i_1    i_2
     │ String               Any    Any
─────┼──────────────────────────────────
   1 │ Online-Delivery      5871   6
   2 │ Phone-Delivery       202    0
   3 │ Breakfast (BF)       44113  0
   4 │ Drive-Thru           1113   0
   5 │ Grabfood Breakfast   3400   7176
   6 │ Take Away (TA)       16015  25
   7 │ Eat In (EI)          14452  51
   8 │ Grabfood Daypart     319    3538
   9 │ Self-Ordering EI     12061  0
  10 │ Self-Ordering TA     13315  0
  11 │ Foodpanda Breakfast  7258   2
  12 │ Deliveroo Breakfast  1405   7
  13 │ Deliveroo Daypart    348    11
  14 │ Foodpanda Daypart    1113   2
  15 │ Online-Pickup        3      0
  16 │ Phone-Pickup         3      0
  17 │ Catering             3      0

In [22]:
CSV.write("/home/vikas/Downloads/Breakfast_Weekday_channel_vs_cluster.csv",df1)

"/home/vikas/Downloads/Breakfast_Weekday_channel_vs_cluster.csv"

In [23]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekend_Clusters_sales_channel.csv"))
df1 = channel_vs_cluster(df1)
CSV.write("/home/vikas/Downloads/Breakfast_Weekend_channel_vs_cluster.csv",df1)

"/home/vikas/Downloads/Breakfast_Weekend_channel_vs_cluster.csv"

In [24]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekend_Clusters_sales_channel.csv"))
df1 = channel_vs_cluster(df1)
CSV.write("/home/vikas/Downloads/Dinner_Weekend_channel_vs_cluster.csv",df1)

"/home/vikas/Downloads/Dinner_Weekend_channel_vs_cluster.csv"

In [25]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekend_Clusters_sales_channel.csv"))
df1 = channel_vs_cluster(df1)
CSV.write("/home/vikas/Downloads/Lunch_Weekend_channel_vs_cluster.csv",df1)

"/home/vikas/Downloads/Lunch_Weekend_channel_vs_cluster.csv"

In [26]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekday_Clusters_sales_channel.csv"))
df1 = channel_vs_cluster(df1)
CSV.write("/home/vikas/Downloads/Lunch_Weekday_channel_vs_cluster.csv",df1)

"/home/vikas/Downloads/Lunch_Weekday_channel_vs_cluster.csv"

In [27]:
df1 = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekday_Clusters_sales_channel.csv"))
df1 = channel_vs_cluster(df1)
CSV.write("/home/vikas/Downloads/Dinner_Weekday_channel_vs_cluster.csv",df1)

"/home/vikas/Downloads/Dinner_Weekday_channel_vs_cluster.csv"

## For cluster vs SALES_ITEM_CATEGORY, cluster vs PRODUCT_KEY, cluster vs BUNDLE_KEY

In [3]:
df_sgp = DataFrame(CSV.File("/home/vikas/Downloads/SGP_sales_item.csv"))

6990×14 DataFrame
  Row │ SALES_ITEM_SK  SALES_ITEM_KEY  SALES_ITEM_DESC            SALES_ITEM_N ⋯
      │ Int64          Int64           String                     String       ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │             1              41  2014 Menu (To-be-updated)  Unmapped ite ⋯
    2 │             2           10001  1pc (OR)                   1pc COB
    3 │             3           10002  1pc (HC)                   1pc COB
    4 │             4           10015  10pcs Bucket               10pcs All-Ch
    5 │             5           10016  15pcs Bucket               15pcs All-Ch ⋯
    6 │             6           10017  21pcs Bucket               21pcs All-Ch
    7 │             7           30001  2pcs Chicken Meal (OR)     2pcs (COB) M
    8 │             8           30002  2pcs Chicken Meal (HC)     2pcs (COB) M
    9 │             9           30003  3pcs  Meal (OR)            3pcs (COB) M ⋯
   10 │            10           30004  3pcs  Meal (HC)            3pcs (COB) M
   11 │            11           30005  Zinger Meal                1 Zinger Mea
  ⋮   │       ⋮              ⋮                     ⋮                           ⋱
 6981 │          6989          922478  Unknown                    Unknown
 6982 │          6990          922482  Unknown                    Unknown      ⋯
 6983 │          6991          922481  Unknown                    Unknown
 6984 │          6992          922602  Unknown                    Unknown
 6985 │          6993          922463  Unknown                    Unknown
 6986 │          6994          922470  Unknown                    Unknown      ⋯
 6987 │          6995          922467  Unknown                    Unknown
 6988 │          6996          922567  Unknown                    Unknown
 6989 │          6997          922566  Unknown                    Unknown
 6990 │          6998          922568  Unknown                    Unknown      ⋯
                                                11 columns and 6969 rows omitted

In [6]:
dict3 = Dict()
dict1 = Dict()
dict2 = Dict()
for i in 1:length(df_sgp.SALES_ITEM_KEY)
    dict3[df_sgp.SALES_ITEM_KEY[i]] = df_sgp.PRODUCT_TYPE[i]
    dict1[df_sgp.SALES_ITEM_KEY[i]] = df_sgp.BUNDLE_TYPE[i]
    dict2[df_sgp.SALES_ITEM_KEY[i]] = df_sgp.SALES_ITEM_CATEGORY[i]
end

In [9]:
df = DataFrame(CSV.File("Dataset2.csv"))

6859688×11 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              7 columns and 6859667 rows omitted

In [11]:
grp = groupby(df,:transaction_type)

GroupedDataFrame with 3 groups based on key: transaction_type
First Group (5214325 rows): transaction_type = "M"
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214315 │      670    200006  RT BEER -M        M                       2.757
 5214316 │      670    921046  5P ACB 30%        M                       9.626 ⋯
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056 ⋯
 5214321 │      670    914357  1P EGG TART       M                       1.215
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214325 │      670    921046  5P ACB 30%        M                       9.626
                                              7 columns and 5214303 rows omitted
⋮
Last Group (12833 rows): transaction_type = "D"
   Row │ storenum  item_key  item_description     transaction_type  sales_amou ⋯
       │ Int64     Int64     String               String            Float64    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      502      2000  25% EMP DISC         D                      -1.96 ⋯
     2 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     3 │      502      8027  10% OFF GES DEAL     D                      -1.81
     4 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     5 │      504      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
     6 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     7 │      504      3007  $1-OFF(PAssion)      D                       0.93
     8 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     9 │      504      5010  10% OFF(LSM)         D                      -0.94 ⋯
    10 │      504      8027  10% OFF GES DEAL     D                      -2.24
    11 │      505      5016  10% OFF xFOOD PANDA  D                      -1.07
   ⋮   │    ⋮         ⋮               ⋮                  ⋮               ⋮     ⋱
 12823 │      660      8027  10% OFF GES DEAL     D                      -0.46
 12824 │      660      8027  10% OFF GES DEAL     D                      -1.66 ⋯
 12825 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12826 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12827 │      664      8027  10% OFF GES DEAL     D                      -0.60
 12828 │      665      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
 12829 │      665      3007  $1-OFF(PAssion)      D                      -0.93
 12830 │      665      5010  10% OFF(LSM)         D                      -0.46
 12831 │      666      3007  $1-OFF(PAssion)      D                      -0.93
 12832 │      670      8027  10% OFF GES DEAL     D                      -0.78 ⋯
 12833 │      670      8027  10% OFF GES DEAL     D                      -0.32
                                                7 columns and 12811 rows omitted

In [12]:
df = DataFrame(grp[1])

5214325×11 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              7 columns and 5214304 rows omitted

In [37]:
#Preparing DataFrame for clusterwise sales item category, product type, bundle type in Breakfast_Weekday
map = Dict()

df1 = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekday_Clusters.csv"))

for i in 1:length(df1.store_transaction_key)
    map[df1.store_transaction_key[i]] = df1.cluster[i]
end

In [35]:
cluster = []
storenum = []
PRODUCT_TYPE = []
SALES_ITEM_CATEGORY = []
BUNDLE_TYPE = []
store_transaction_key = []

for i in 1:length(df.store_transaction_key)
    if df.store_transaction_key[i] in keys(map)
        push!(cluster,map[df.store_transaction_key[i]])
        push!(PRODUCT_TYPE,dict3[df.item_key[i]])
        push!(SALES_ITEM_CATEGORY,dict2[df.item_key[i]])
        push!(BUNDLE_TYPE,dict1[df.item_key[i]])
        push!(store_transaction_key,df.store_transaction_key[i])
        push!(storenum,df.storenum[i])
    end
end

df_CPSB_Breakfast_Weekday = DataFrame()
df_CPSB_Breakfast_Weekday.storenum = storenum
df_CPSB_Breakfast_Weekday.store_transaction_key = store_transaction_key
df_CPSB_Breakfast_Weekday.cluster = cluster
df_CPSB_Breakfast_Weekday.PRODUCT_TYPE = PRODUCT_TYPE
df_CPSB_Breakfast_Weekday.SALES_ITEM_CATEGORY = SALES_ITEM_CATEGORY
df_CPSB_Breakfast_Weekday.BUNDLE_TYPE = BUNDLE_TYPE

358036-element Vector{Any}:
 "Individual Meal"
 "Ala Carte"
 "Ala Carte"
 "Individual Meal"
 "Trade-up"
 "Trade-up"
 "Trade-up"
 "Individual Meal"
 "Ala Carte"
 "Individual Meal"
 "Trade-up"
 "Trade-up"
 "Add-on"
 ⋮
 "Trade-up"
 "Ala Carte"
 "Ala Carte"
 "Individual Meal"
 "Trade-up"
 "Add-on"
 "Trade-up"
 "Trade-up"
 "Trade-up"
 "Ala Carte"
 "Ala Carte"
 "Ala Carte"

In [36]:
CSV.write("df_CPSB_Breakfast_Weekday.csv",df_CPSB_Breakfast_Weekend)

"df_CPSB_Breakfast_Weekend.csv"

In [ ]:
#Preparing DataFrame for clusterwise sales item category, product type, bundle type in Breakfast_Weekend
map = Dict()

df1 = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekend_Clusters.csv"))

for i in 1:length(df1.store_transaction_key)
    map[df1.store_transaction_key[i]] = df1.cluster[i]
end

cluster = []
storenum = []
PRODUCT_TYPE = []
SALES_ITEM_CATEGORY = []
BUNDLE_TYPE = []
store_transaction_key = []

for i in 1:length(df.store_transaction_key)
    if df.store_transaction_key[i] in keys(map)
        push!(cluster,map[df.store_transaction_key[i]])
        push!(PRODUCT_TYPE,dict3[df.item_key[i]])
        push!(SALES_ITEM_CATEGORY,dict2[df.item_key[i]])
        push!(BUNDLE_TYPE,dict1[df.item_key[i]])
        push!(store_transaction_key,df.store_transaction_key[i])
        push!(storenum,df.storenum[i])
    end
end

df_CPSB_Breakfast_Weekend = DataFrame()
df_CPSB_Breakfast_Weekend.storenum = storenum
df_CPSB_Breakfast_Weekend.store_transaction_key = store_transaction_key
df_CPSB_Breakfast_Weekend.cluster = cluster
df_CPSB_Breakfast_Weekend.PRODUCT_TYPE = PRODUCT_TYPE
df_CPSB_Breakfast_Weekend.SALES_ITEM_CATEGORY = SALES_ITEM_CATEGORY
df_CPSB_Breakfast_Weekend.BUNDLE_TYPE = BUNDLE_TYPE

CSV.write("df_CPSB_Breakfast_Weekend.csv",df_CPSB_Breakfast_Weekend)

In [ ]:
#Preparing DataFrame for clusterwise sales item category, product type, bundle type in Lunch_Weekday
map = Dict()

df1 = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekday_Clusters.csv"))

for i in 1:length(df1.store_transaction_key)
    map[df1.store_transaction_key[i]] = df1.cluster[i]
end

cluster = []
storenum = []
PRODUCT_TYPE = []
SALES_ITEM_CATEGORY = []
BUNDLE_TYPE = []
store_transaction_key = []

for i in 1:length(df.store_transaction_key)
    if df.store_transaction_key[i] in keys(map)
        push!(cluster,map[df.store_transaction_key[i]])
        push!(PRODUCT_TYPE,dict3[df.item_key[i]])
        push!(SALES_ITEM_CATEGORY,dict2[df.item_key[i]])
        push!(BUNDLE_TYPE,dict1[df.item_key[i]])
        push!(store_transaction_key,df.store_transaction_key[i])
        push!(storenum,df.storenum[i])
    end
end

df_CPSB_Lunch_Weekday = DataFrame()
df_CPSB_Lunch_Weekday.storenum = storenum
df_CPSB_Lunch_Weekday.store_transaction_key = store_transaction_key
df_CPSB_Lunch_Weekday.cluster = cluster
df_CPSB_Lunch_Weekday.PRODUCT_TYPE = PRODUCT_TYPE
df_CPSB_Lunch_Weekday.SALES_ITEM_CATEGORY = SALES_ITEM_CATEGORY
df_CPSB_Lunch_Weekday.BUNDLE_TYPE = BUNDLE_TYPE

CSV.write("df_CPSB_Lunch_Weekday.csv",df_CPSB_Lunch_Weekday)

In [ ]:
#Preparing DataFrame for clusterwise sales item category, product type, bundle type in Lunch_Weekend
map = Dict()

df1 = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekend_Clusters.csv"))

for i in 1:length(df1.store_transaction_key)
    map[df1.store_transaction_key[i]] = df1.cluster[i]
end

cluster = []
storenum = []
PRODUCT_TYPE = []
SALES_ITEM_CATEGORY = []
BUNDLE_TYPE = []
store_transaction_key = []

for i in 1:length(df.store_transaction_key)
    if df.store_transaction_key[i] in keys(map)
        push!(cluster,map[df.store_transaction_key[i]])
        push!(PRODUCT_TYPE,dict3[df.item_key[i]])
        push!(SALES_ITEM_CATEGORY,dict2[df.item_key[i]])
        push!(BUNDLE_TYPE,dict1[df.item_key[i]])
        push!(store_transaction_key,df.store_transaction_key[i])
        push!(storenum,df.storenum[i])
    end
end

df_CPSB_Lunch_Weekend = DataFrame()
df_CPSB_Lunch_Weekend.storenum = storenum
df_CPSB_Lunch_Weekend.store_transaction_key = store_transaction_key
df_CPSB_Lunch_Weekend.cluster = cluster
df_CPSB_Lunch_Weekend.PRODUCT_TYPE = PRODUCT_TYPE
df_CPSB_Lunch_Weekend.SALES_ITEM_CATEGORY = SALES_ITEM_CATEGORY
df_CPSB_Lunch_Weekend.BUNDLE_TYPE = BUNDLE_TYPE

CSV.write("df_CPSB_Lunch_Weekend.csv",df_CPSB_Lunch_Weekend)

In [ ]:
#Preparing DataFrame for clusterwise sales item category, product type, bundle type in Dinner_Weekday
map = Dict()

df1 = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekday_Clusters.csv"))

for i in 1:length(df1.store_transaction_key)
    map[df1.store_transaction_key[i]] = df1.cluster[i]
end

cluster = []
storenum = []
PRODUCT_TYPE = []
SALES_ITEM_CATEGORY = []
BUNDLE_TYPE = []
store_transaction_key = []

for i in 1:length(df.store_transaction_key)
    if df.store_transaction_key[i] in keys(map)
        push!(cluster,map[df.store_transaction_key[i]])
        push!(PRODUCT_TYPE,dict3[df.item_key[i]])
        push!(SALES_ITEM_CATEGORY,dict2[df.item_key[i]])
        push!(BUNDLE_TYPE,dict1[df.item_key[i]])
        push!(store_transaction_key,df.store_transaction_key[i])
        push!(storenum,df.storenum[i])
    end
end

df_CPSB_Dinner_Weekday = DataFrame()
df_CPSB_Dinner_Weekday.storenum = storenum
df_CPSB_Dinner_Weekday.store_transaction_key = store_transaction_key
df_CPSB_Dinner_Weekday.cluster = cluster
df_CPSB_Dinner_Weekday.PRODUCT_TYPE = PRODUCT_TYPE
df_CPSB_Dinner_Weekday.SALES_ITEM_CATEGORY = SALES_ITEM_CATEGORY
df_CPSB_Dinner_Weekday.BUNDLE_TYPE = BUNDLE_TYPE

CSV.write("df_CPSB_Dinner_Weekday.csv",df_CPSB_Dinner_Weekday)

In [ ]:
#Preparing DataFrame for clusterwise sales item category, product type, bundle type in Dinner_Weekend
map = Dict()

df1 = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekend_Clusters.csv"))

for i in 1:length(df1.store_transaction_key)
    map[df1.store_transaction_key[i]] = df1.cluster[i]
end

cluster = []
storenum = []
PRODUCT_TYPE = []
SALES_ITEM_CATEGORY = []
BUNDLE_TYPE = []
store_transaction_key = []

for i in 1:length(df.store_transaction_key)
    if df.store_transaction_key[i] in keys(map)
        push!(cluster,map[df.store_transaction_key[i]])
        push!(PRODUCT_TYPE,dict3[df.item_key[i]])
        push!(SALES_ITEM_CATEGORY,dict2[df.item_key[i]])
        push!(BUNDLE_TYPE,dict1[df.item_key[i]])
        push!(store_transaction_key,df.store_transaction_key[i])
        push!(storenum,df.storenum[i])
    end
end

df_CPSB_Dinner_Weekend = DataFrame()
df_CPSB_Dinner_Weekend.storenum = storenum
df_CPSB_Dinner_Weekend.store_transaction_key = store_transaction_key
df_CPSB_Dinner_Weekend.cluster = cluster
df_CPSB_Dinner_Weekend.PRODUCT_TYPE = PRODUCT_TYPE
df_CPSB_Dinner_Weekend.SALES_ITEM_CATEGORY = SALES_ITEM_CATEGORY
df_CPSB_Dinner_Weekend.BUNDLE_TYPE = BUNDLE_TYPE

CSV.write("df_CPSB_Dinner_Weekend.csv",df_CPSB_Dinner_Weekend)

In [43]:
df = DataFrame(CSV.File("df_CPSB_Breakfast_Weekday.csv"))

541552×6 DataFrame
    Row │ storenum  store_transaction_key  cluster  PRODUCT_TYPE  SALES_ITEM_C ⋯
        │ Int64     String                 Int64    String        String       ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      654  654_7284_2021-03-28          1  LTO           Porridge     ⋯
      2 │      654  654_7284_2021-03-28          1  LTO           Platters & P
      3 │      654  654_7284_2021-03-28          1  Permanent     Porridge
      4 │      654  654_7284_2021-03-28          1  Permanent     Platters & P
      5 │      654  654_7284_2021-03-28          1  Permanent     Beverage     ⋯
      6 │      654  654_7284_2021-03-28          1  LTO           Porridge
      7 │      502  502_2004_2021-04-03          1  Permanent     Sides
      8 │      502  502_2004_2021-04-03          1  Permanent     Portables
      9 │      502  502_2004_2021-04-03          1  Permanent     Others       ⋯
     10 │      502  502_2005_2021-04-03          1  Permanent     Non-COB Prot
     11 │      502  502_2005_2021-04-03          1  Permanent     Chicken-on-b
   ⋮    │    ⋮                ⋮               ⋮          ⋮                 ⋮   ⋱
 541543 │      670  670_7733_2021-05-02          1  Unknown       Unknown
 541544 │      670  670_7733_2021-05-02          1  Permanent     Chicken-on-b ⋯
 541545 │      670  670_7733_2021-05-02          1  Permanent     Sides
 541546 │      670  670_7734_2021-05-02          1  Unknown       Unknown
 541547 │      670  670_7735_2021-05-02          1  Unknown       Unknown
 541548 │      670  670_7736_2021-05-02          1  Unknown       Unknown      ⋯
 541549 │      670  670_7737_2021-05-02          1  Permanent     Portables
 541550 │      670  670_7737_2021-05-02          1  Permanent     Portables
 541551 │      563  563_7599_2021-05-02          1  Unknown       Unknown
 541552 │      563  563_7599_2021-05-02          1  Unknown       Unknown      ⋯
                                               2 columns and 541531 rows omitted

In [44]:
d_category = DataFrame()
s=unique(df.SALES_ITEM_CATEGORY)
d_category.i = s

14-element Vector{String}:
 "Porridge"
 "Platters & Pancakes"
 "Beverage"
 "Sides"
 "Portables"
 "Others"
 "Non-COB Protein"
 "Chicken-on-bone"
 "Bowls & Rice"
 "Desserts"
 "Unknown"
 "Breakfast Sides"
 "Burgers & Twisters"
 "beverage"

In [45]:
d_product = DataFrame()
s=unique(df.PRODUCT_TYPE)
d_product.i = s

4-element Vector{String}:
 "LTO"
 "Permanent"
 "Others"
 "Unknown"

In [46]:
d_bundle = DataFrame()
s=unique(df.BUNDLE_TYPE)
d_bundle.i = s

12-element Vector{String}:
 "Buddy Meal"
 "Ala Carte"
 "Individual Meal"
 "Trade-up"
 "Add-on"
 "Box Meal"
 "Others"
 "Group Meal"
 "Unknown"
 "Change"
 "Snacker"
 "Snackers"

In [47]:
df = df[:,[:storenum,:store_transaction_key,:cluster,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]

541552×6 DataFrame
    Row │ storenum  store_transaction_key  cluster  PRODUCT_TYPE  BUNDLE_TYPE  ⋯
        │ Int64     String                 Int64    String        String       ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      654  654_7284_2021-03-28          1  LTO           Buddy Meal   ⋯
      2 │      654  654_7284_2021-03-28          1  LTO           Ala Carte
      3 │      654  654_7284_2021-03-28          1  Permanent     Ala Carte
      4 │      654  654_7284_2021-03-28          1  Permanent     Individual M
      5 │      654  654_7284_2021-03-28          1  Permanent     Trade-up     ⋯
      6 │      654  654_7284_2021-03-28          1  LTO           Buddy Meal
      7 │      502  502_2004_2021-04-03          1  Permanent     Add-on
      8 │      502  502_2004_2021-04-03          1  Permanent     Box Meal
      9 │      502  502_2004_2021-04-03          1  Permanent     Others       ⋯
     10 │      502  502_2005_2021-04-03          1  Permanent     Ala Carte
     11 │      502  502_2005_2021-04-03          1  Permanent     Group Meal
   ⋮    │    ⋮                ⋮               ⋮          ⋮               ⋮     ⋱
 541543 │      670  670_7733_2021-05-02          1  Unknown       Unknown
 541544 │      670  670_7733_2021-05-02          1  Permanent     Individual M ⋯
 541545 │      670  670_7733_2021-05-02          1  Permanent     Ala Carte
 541546 │      670  670_7734_2021-05-02          1  Unknown       Unknown
 541547 │      670  670_7735_2021-05-02          1  Unknown       Unknown
 541548 │      670  670_7736_2021-05-02          1  Unknown       Unknown      ⋯
 541549 │      670  670_7737_2021-05-02          1  Permanent     Individual M
 541550 │      670  670_7737_2021-05-02          1  Permanent     Ala Carte
 541551 │      563  563_7599_2021-05-02          1  Unknown       Unknown
 541552 │      563  563_7599_2021-05-02          1  Unknown       Unknown      ⋯
                                               2 columns and 541531 rows omitted

In [48]:
select!(df,Not(:store_transaction_key))

541552×5 DataFrame
    Row │ storenum  cluster  PRODUCT_TYPE  BUNDLE_TYPE      SALES_ITEM_CATEGOR ⋯
        │ Int64     Int64    String        String           String             ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      654        1  LTO           Buddy Meal       Porridge           ⋯
      2 │      654        1  LTO           Ala Carte        Platters & Pancake
      3 │      654        1  Permanent     Ala Carte        Porridge
      4 │      654        1  Permanent     Individual Meal  Platters & Pancake
      5 │      654        1  Permanent     Trade-up         Beverage           ⋯
      6 │      654        1  LTO           Buddy Meal       Porridge
      7 │      502        1  Permanent     Add-on           Sides
      8 │      502        1  Permanent     Box Meal         Portables
      9 │      502        1  Permanent     Others           Others             ⋯
     10 │      502        1  Permanent     Ala Carte        Non-COB Protein
     11 │      502        1  Permanent     Group Meal       Chicken-on-bone
   ⋮    │    ⋮         ⋮          ⋮               ⋮                  ⋮         ⋱
 541543 │      670        1  Unknown       Unknown          Unknown
 541544 │      670        1  Permanent     Individual Meal  Chicken-on-bone    ⋯
 541545 │      670        1  Permanent     Ala Carte        Sides
 541546 │      670        1  Unknown       Unknown          Unknown
 541547 │      670        1  Unknown       Unknown          Unknown
 541548 │      670        1  Unknown       Unknown          Unknown            ⋯
 541549 │      670        1  Permanent     Individual Meal  Portables
 541550 │      670        1  Permanent     Ala Carte        Portables
 541551 │      563        1  Unknown       Unknown          Unknown
 541552 │      563        1  Unknown       Unknown          Unknown            ⋯
                                                1 column and 541531 rows omitted

In [49]:
grp = groupby(df,:cluster)

GroupedDataFrame with 3 groups based on key: cluster
First Group (434061 rows): cluster = 1
    Row │ storenum  cluster  PRODUCT_TYPE  BUNDLE_TYPE      SALES_ITEM_CATEGOR ⋯
        │ Int64     Int64    String        String           String             ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │      654        1  LTO           Buddy Meal       Porridge           ⋯
      2 │      654        1  LTO           Ala Carte        Platters & Pancake
      3 │      654        1  Permanent     Ala Carte        Porridge
      4 │      654        1  Permanent     Individual Meal  Platters & Pancake
      5 │      654        1  Permanent     Trade-up         Beverage           ⋯
      6 │      654        1  LTO           Buddy Meal       Porridge
      7 │      502        1  Permanent     Add-on           Sides
      8 │      502        1  Permanent     Box Meal         Portables
      9 │      502        1  Permanent     Others           Others             ⋯
     10 │      502        1  Permanent     Ala Carte        Non-COB Protein
     11 │      502        1  Permanent     Group Meal       Chicken-on-bone
   ⋮    │    ⋮         ⋮          ⋮               ⋮                  ⋮         ⋱
 434051 │      670        1  Permanent     Ala Carte        Portables
 434052 │      670        1  Unknown       Unknown          Unknown            ⋯
 434053 │      670        1  Permanent     Individual Meal  Chicken-on-bone
 434054 │      670        1  Permanent     Ala Carte        Sides
 434055 │      670        1  Unknown       Unknown          Unknown
 434056 │      670        1  Unknown       Unknown          Unknown            ⋯
 434057 │      670        1  Unknown       Unknown          Unknown
 434058 │      670        1  Permanent     Individual Meal  Portables
 434059 │      670        1  Permanent     Ala Carte        Portables
 434060 │      563        1  Unknown       Unknown          Unknown            ⋯
 434061 │      563        1  Unknown       Unknown          Unknown
                                                1 column and 434039 rows omitted
⋮
Last Group (42567 rows): cluster = 2
   Row │ storenum  cluster  PRODUCT_TYPE  BUNDLE_TYPE  SALES_ITEM_CATEGORY
       │ Int64     Int64    String        String       String
───────┼───────────────────────────────────────────────────────────────────
     1 │      502        2  Unknown       Unknown      Unknown
     2 │      502        2  Unknown       Unknown      Unknown
     3 │      502        2  Permanent     Group Meal   Chicken-on-bone
     4 │      502        2  Unknown       Unknown      Unknown
     5 │      502        2  Unknown       Unknown      Unknown
     6 │      502        2  Unknown       Unknown      Unknown
     7 │      502        2  Unknown       Unknown      Unknown
     8 │      502        2  Unknown       Unknown      Unknown
     9 │      502        2  Unknown       Unknown      Unknown
    10 │      502        2  Unknown       Unknown      Unknown
    11 │      502        2  Unknown       Unknown      Unknown
   ⋮   │    ⋮         ⋮          ⋮             ⋮                ⋮
 42557 │      670        2  Permanent     Buddy Meal   Chicken-on-bone
 42558 │      670        2  Unknown       Unknown      Unknown
 42559 │      670        2  Unknown       Unknown      Unknown
 42560 │      670        2  Unknown       Unknown      Unknown
 42561 │      670        2  Unknown       Unknown      Unknown
 42562 │      670        2  Unknown       Unknown      Unknown
 42563 │      670        2  Unknown       Unknown      Unknown
 42564 │      670        2  Permanent     Trade-up     Sides
 42565 │      670        2  Unknown       Unknown      Unknown
 42566 │      670        2  Permanent     Trade-up     Beverage
 42567 │      670        2  Permanent     Trade-up     Beverage
                                                         42545 rows omitted

In [42]:
for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]
    df1 = k[:,[:storenum,:SALES_ITEM_CATEGORY]]
    df2 = k[:,[:storenum,:PRODUCT_TYPE]]
    df3 = k[:,[:storenum,:BUNDLE_TYPE]]
    cnt = Dict()
    for i in 1:length(df1.storenum)
      s = string(df1.SALES_ITEM_CATEGORY[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_category.i)
        if d_category.i[j] in keys(cnt)
            push!(ar,cnt[d_category.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_category = hcat(d_category,d_alt,makeunique=true)
    
    cnt=Dict()
    for i in 1:length(df2.storenum)
      s = string(df2.PRODUCT_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_product.i)
        if d_product.i[j] in keys(cnt)
            push!(ar,cnt[d_product.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_product = hcat(d_product,d_alt,makeunique=true)
    
    cnt = Dict()
    for i in 1:length(df3.storenum)
      s = string(df3.BUNDLE_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_bundle.i)
        if d_bundle.i[j] in keys(cnt)
            push!(ar,cnt[d_bundle.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_bundle = hcat(d_bundle,d_alt,makeunique=true)
    
end

CSV.write("/home/vikas/Downloads/Breakfast_Weekday_SALES_ITEM_CATEGORY_CNT.csv",d_category)
CSV.write("/home/vikas/Downloads/Breakfast_Weekday_PRODUCT_CNT.csv",d_product)
CSV.write("/home/vikas/Downloads/Breakfast_Weekday_BUNDLE_CNT.csv",d_bundle)

"/home/vikas/Downloads/Dinner_Weekday_BUNDLE_CNT.csv"

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Breakfast_Weekend.csv"))

d_category = DataFrame()
s=unique(df.SALES_ITEM_CATEGORY)
d_category.i = s

d_product = DataFrame()
s=unique(df.PRODUCT_TYPE)
d_product.i = s

d_bundle = DataFrame()
s=unique(df.BUNDLE_TYPE)
d_bundle.i = s

df = df[:,[:storenum,:store_transaction_key,:cluster,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]

select!(df,Not(:store_transaction_key))

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]
    df1 = k[:,[:storenum,:SALES_ITEM_CATEGORY]]
    df2 = k[:,[:storenum,:PRODUCT_TYPE]]
    df3 = k[:,[:storenum,:BUNDLE_TYPE]]
    cnt = Dict()
    for i in 1:length(df1.storenum)
      s = string(df1.SALES_ITEM_CATEGORY[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_category.i)
        if d_category.i[j] in keys(cnt)
            push!(ar,cnt[d_category.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_category = hcat(d_category,d_alt,makeunique=true)
    
    cnt=Dict()
    for i in 1:length(df2.storenum)
      s = string(df2.PRODUCT_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_product.i)
        if d_product.i[j] in keys(cnt)
            push!(ar,cnt[d_product.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_product = hcat(d_product,d_alt,makeunique=true)
    
    cnt = Dict()
    for i in 1:length(df3.storenum)
      s = string(df3.BUNDLE_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_bundle.i)
        if d_bundle.i[j] in keys(cnt)
            push!(ar,cnt[d_bundle.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_bundle = hcat(d_bundle,d_alt,makeunique=true)
    
end

CSV.write("/home/vikas/Downloads/Breakfast_Weekend_SALES_ITEM_CATEGORY_CNT.csv",d_category)
CSV.write("/home/vikas/Downloads/Breakfast_Weekend_PRODUCT_CNT.csv",d_product)
CSV.write("/home/vikas/Downloads/Breakfast_Weekend_BUNDLE_CNT.csv",d_bundle)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Lunch_Weekday.csv"))

d_category = DataFrame()
s=unique(df.SALES_ITEM_CATEGORY)
d_category.i = s

d_product = DataFrame()
s=unique(df.PRODUCT_TYPE)
d_product.i = s

d_bundle = DataFrame()
s=unique(df.BUNDLE_TYPE)
d_bundle.i = s

df = df[:,[:storenum,:store_transaction_key,:cluster,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]

select!(df,Not(:store_transaction_key))

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]
    df1 = k[:,[:storenum,:SALES_ITEM_CATEGORY]]
    df2 = k[:,[:storenum,:PRODUCT_TYPE]]
    df3 = k[:,[:storenum,:BUNDLE_TYPE]]
    cnt = Dict()
    for i in 1:length(df1.storenum)
      s = string(df1.SALES_ITEM_CATEGORY[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_category.i)
        if d_category.i[j] in keys(cnt)
            push!(ar,cnt[d_category.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_category = hcat(d_category,d_alt,makeunique=true)
    
    cnt=Dict()
    for i in 1:length(df2.storenum)
      s = string(df2.PRODUCT_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_product.i)
        if d_product.i[j] in keys(cnt)
            push!(ar,cnt[d_product.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_product = hcat(d_product,d_alt,makeunique=true)
    
    cnt = Dict()
    for i in 1:length(df3.storenum)
      s = string(df3.BUNDLE_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_bundle.i)
        if d_bundle.i[j] in keys(cnt)
            push!(ar,cnt[d_bundle.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_bundle = hcat(d_bundle,d_alt,makeunique=true)
    
end

CSV.write("/home/vikas/Downloads/Lunch_Weekday_SALES_ITEM_CATEGORY_CNT.csv",d_category)
CSV.write("/home/vikas/Downloads/Lunch_Weekday_PRODUCT_CNT.csv",d_product)
CSV.write("/home/vikas/Downloads/Lunch_Weekday_BUNDLE_CNT.csv",d_bundle)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Lunch_Weekend.csv"))

d_category = DataFrame()
s=unique(df.SALES_ITEM_CATEGORY)
d_category.i = s

d_product = DataFrame()
s=unique(df.PRODUCT_TYPE)
d_product.i = s

d_bundle = DataFrame()
s=unique(df.BUNDLE_TYPE)
d_bundle.i = s

df = df[:,[:storenum,:store_transaction_key,:cluster,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]

select!(df,Not(:store_transaction_key))

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]
    df1 = k[:,[:storenum,:SALES_ITEM_CATEGORY]]
    df2 = k[:,[:storenum,:PRODUCT_TYPE]]
    df3 = k[:,[:storenum,:BUNDLE_TYPE]]
    cnt = Dict()
    for i in 1:length(df1.storenum)
      s = string(df1.SALES_ITEM_CATEGORY[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_category.i)
        if d_category.i[j] in keys(cnt)
            push!(ar,cnt[d_category.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_category = hcat(d_category,d_alt,makeunique=true)
    
    cnt=Dict()
    for i in 1:length(df2.storenum)
      s = string(df2.PRODUCT_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_product.i)
        if d_product.i[j] in keys(cnt)
            push!(ar,cnt[d_product.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_product = hcat(d_product,d_alt,makeunique=true)
    
    cnt = Dict()
    for i in 1:length(df3.storenum)
      s = string(df3.BUNDLE_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_bundle.i)
        if d_bundle.i[j] in keys(cnt)
            push!(ar,cnt[d_bundle.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_bundle = hcat(d_bundle,d_alt,makeunique=true)
    
end

CSV.write("/home/vikas/Downloads/Lunch_Weekend_SALES_ITEM_CATEGORY_CNT.csv",d_category)
CSV.write("/home/vikas/Downloads/Lunch_Weekend_PRODUCT_CNT.csv",d_product)
CSV.write("/home/vikas/Downloads/Lunch_Weekend_BUNDLE_CNT.csv",d_bundle)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Dinner_Weekday.csv"))

d_category = DataFrame()
s=unique(df.SALES_ITEM_CATEGORY)
d_category.i = s

d_product = DataFrame()
s=unique(df.PRODUCT_TYPE)
d_product.i = s

d_bundle = DataFrame()
s=unique(df.BUNDLE_TYPE)
d_bundle.i = s

df = df[:,[:storenum,:store_transaction_key,:cluster,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]

select!(df,Not(:store_transaction_key))

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]
    df1 = k[:,[:storenum,:SALES_ITEM_CATEGORY]]
    df2 = k[:,[:storenum,:PRODUCT_TYPE]]
    df3 = k[:,[:storenum,:BUNDLE_TYPE]]
    cnt = Dict()
    for i in 1:length(df1.storenum)
      s = string(df1.SALES_ITEM_CATEGORY[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_category.i)
        if d_category.i[j] in keys(cnt)
            push!(ar,cnt[d_category.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_category = hcat(d_category,d_alt,makeunique=true)
    
    cnt=Dict()
    for i in 1:length(df2.storenum)
      s = string(df2.PRODUCT_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_product.i)
        if d_product.i[j] in keys(cnt)
            push!(ar,cnt[d_product.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_product = hcat(d_product,d_alt,makeunique=true)
    
    cnt = Dict()
    for i in 1:length(df3.storenum)
      s = string(df3.BUNDLE_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_bundle.i)
        if d_bundle.i[j] in keys(cnt)
            push!(ar,cnt[d_bundle.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_bundle = hcat(d_bundle,d_alt,makeunique=true)
    
end

CSV.write("/home/vikas/Downloads/Dinner_Weekday_SALES_ITEM_CATEGORY_CNT.csv",d_category)
CSV.write("/home/vikas/Downloads/Dinner_Weekday_PRODUCT_CNT.csv",d_product)
CSV.write("/home/vikas/Downloads/Dinner_Weekday_BUNDLE_CNT.csv",d_bundle)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Dinner_Weekend.csv"))

d_category = DataFrame()
s=unique(df.SALES_ITEM_CATEGORY)
d_category.i = s

d_product = DataFrame()
s=unique(df.PRODUCT_TYPE)
d_product.i = s

d_bundle = DataFrame()
s=unique(df.BUNDLE_TYPE)
d_bundle.i = s

df = df[:,[:storenum,:store_transaction_key,:cluster,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]

select!(df,Not(:store_transaction_key))

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:PRODUCT_TYPE,:BUNDLE_TYPE,:SALES_ITEM_CATEGORY]]
    df1 = k[:,[:storenum,:SALES_ITEM_CATEGORY]]
    df2 = k[:,[:storenum,:PRODUCT_TYPE]]
    df3 = k[:,[:storenum,:BUNDLE_TYPE]]
    cnt = Dict()
    for i in 1:length(df1.storenum)
      s = string(df1.SALES_ITEM_CATEGORY[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_category.i)
        if d_category.i[j] in keys(cnt)
            push!(ar,cnt[d_category.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_category = hcat(d_category,d_alt,makeunique=true)
    
    cnt=Dict()
    for i in 1:length(df2.storenum)
      s = string(df2.PRODUCT_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_product.i)
        if d_product.i[j] in keys(cnt)
            push!(ar,cnt[d_product.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_product = hcat(d_product,d_alt,makeunique=true)
    
    cnt = Dict()
    for i in 1:length(df3.storenum)
      s = string(df3.BUNDLE_TYPE[i])
      if s in keys(cnt)
        cnt[s]=cnt[s]+1
      else
        cnt[s]=1
      end
    end
    ar = []
    for j in 1:length(d_bundle.i)
        if d_bundle.i[j] in keys(cnt)
            push!(ar,cnt[d_bundle.i[j]])
        else
            push!(ar,0)
        end
    end
    d_alt = DataFrame()
    d_alt.i = ar
    d_bundle = hcat(d_bundle,d_alt,makeunique=true)
    
end

CSV.write("/home/vikas/Downloads/Dinner_Weekend_SALES_ITEM_CATEGORY_CNT.csv",d_category)
CSV.write("/home/vikas/Downloads/Dinner_Weekend_PRODUCT_CNT.csv",d_product)
CSV.write("/home/vikas/Downloads/Dinner_Weekend_BUNDLE_CNT.csv",d_bundle)

## Preparing storenum vs cluster

In [46]:
df = DataFrame(CSV.File("df_CPSB_Breakfast_Weekday.csv"))

1543970×6 DataFrame
     Row │ storenum  store_transaction_key  cluster  PRODUCT_TYPE  SALES_ITEM_ ⋯
         │ Int64     String                 Int64    String        String      ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502  502_1751_2021-03-29          2  Permanent     Chicken-on- ⋯
       2 │      502  502_1751_2021-03-29          2  Permanent     Others
       3 │      502  502_1752_2021-03-29          2  Permanent     Sides
       4 │      502  502_1752_2021-03-29          2  Permanent     Sides
       5 │      502  502_1752_2021-03-29          2  Permanent     Chicken-on- ⋯
       6 │      502  502_1752_2021-03-29          2  Permanent     Others
       7 │      502  502_1753_2021-03-29          2  Permanent     Sides
       8 │      502  502_1753_2021-03-29          2  Permanent     Portables
       9 │      502  502_1753_2021-03-29          2  Permanent     Others      ⋯
      10 │      502  502_1754_2021-03-29          2  Permanent     Portables
      11 │      502  502_1754_2021-03-29          2  Permanent     Sides
    ⋮    │    ⋮                ⋮               ⋮          ⋮                 ⋮  ⋱
 1543961 │      670  670_5310_2021-05-07          2  Permanent     Portables
 1543962 │      670  670_5310_2021-05-07          2  Permanent     Beverage    ⋯
 1543963 │      670  670_5311_2021-05-07          2  Permanent     Chicken-on-
 1543964 │      670  670_5317_2021-05-07          2  LTO           Chicken-on-
 1543965 │      670  670_5317_2021-05-07          2  Permanent     Sides
 1543966 │      670  670_5317_2021-05-07          2  Permanent     Sides       ⋯
 1543967 │      670  670_5318_2021-05-07          2  Permanent     Portables
 1543968 │      670  670_5318_2021-05-07          2  Permanent     Sides
 1543969 │      670  670_5318_2021-05-07          2  Permanent     Sides
 1543970 │      670  670_5319_2021-05-07          2  Permanent     Chicken-on- ⋯
                                              2 columns and 1543949 rows omitted

In [47]:
df = df[:,[:storenum,:store_transaction_key,:cluster]]

1543970×3 DataFrame
     Row │ storenum  store_transaction_key  cluster
         │ Int64     String                 Int64
─────────┼──────────────────────────────────────────
       1 │      502  502_1751_2021-03-29          2
       2 │      502  502_1751_2021-03-29          2
       3 │      502  502_1752_2021-03-29          2
       4 │      502  502_1752_2021-03-29          2
       5 │      502  502_1752_2021-03-29          2
       6 │      502  502_1752_2021-03-29          2
       7 │      502  502_1753_2021-03-29          2
       8 │      502  502_1753_2021-03-29          2
       9 │      502  502_1753_2021-03-29          2
      10 │      502  502_1754_2021-03-29          2
      11 │      502  502_1754_2021-03-29          2
    ⋮    │    ⋮                ⋮               ⋮
 1543961 │      670  670_5310_2021-05-07          2
 1543962 │      670  670_5310_2021-05-07          2
 1543963 │      670  670_5311_2021-05-07          2
 1543964 │      670  670_5317_2021-05-07          2
 1543965 │      670  670_5317_2021-05-07          2
 1543966 │      670  670_5317_2021-05-07          2
 1543967 │      670  670_5318_2021-05-07          2
 1543968 │      670  670_5318_2021-05-07          2
 1543969 │      670  670_5318_2021-05-07          2
 1543970 │      670  670_5319_2021-05-07          2
                                1543949 rows omitted

In [48]:
d_store = DataFrame()
s = unique(df.storenum)
d_store.i = s

84-element Vector{Int64}:
 502
 504
 505
 506
 507
 508
 509
 510
 513
 514
 517
 518
 519
   ⋮
 653
 654
 655
 658
 659
 660
 664
 665
 666
 667
 669
 670

In [49]:
grp = groupby(df,:cluster)

GroupedDataFrame with 3 groups based on key: cluster
First Group (640556 rows): cluster = 2
    Row │ storenum  store_transaction_key  cluster
        │ Int64     String                 Int64
────────┼──────────────────────────────────────────
      1 │      502  502_1751_2021-03-29          2
      2 │      502  502_1751_2021-03-29          2
      3 │      502  502_1752_2021-03-29          2
      4 │      502  502_1752_2021-03-29          2
      5 │      502  502_1752_2021-03-29          2
      6 │      502  502_1752_2021-03-29          2
      7 │      502  502_1753_2021-03-29          2
      8 │      502  502_1753_2021-03-29          2
      9 │      502  502_1753_2021-03-29          2
     10 │      502  502_1754_2021-03-29          2
     11 │      502  502_1754_2021-03-29          2
   ⋮    │    ⋮                ⋮               ⋮
 640546 │      670  670_5309_2021-05-07          2
 640547 │      670  670_5310_2021-05-07          2
 640548 │      670  670_5310_2021-05-07          2
 640549 │      670  670_5311_2021-05-07          2
 640550 │      670  670_5317_2021-05-07          2
 640551 │      670  670_5317_2021-05-07          2
 640552 │      670  670_5317_2021-05-07          2
 640553 │      670  670_5318_2021-05-07          2
 640554 │      670  670_5318_2021-05-07          2
 640555 │      670  670_5318_2021-05-07          2
 640556 │      670  670_5319_2021-05-07          2
                                640534 rows omitted
⋮
Last Group (200022 rows): cluster = 1
    Row │ storenum  store_transaction_key  cluster
        │ Int64     String                 Int64
────────┼──────────────────────────────────────────
      1 │      502  502_6214_2021-03-29          1
      2 │      502  502_6214_2021-03-29          1
      3 │      502  502_6214_2021-03-29          1
      4 │      502  502_6214_2021-03-29          1
      5 │      502  502_6214_2021-03-29          1
      6 │      502  502_6214_2021-03-29          1
      7 │      502  502_6214_2021-03-29          1
      8 │      502  502_6216_2021-03-29          1
      9 │      502  502_6216_2021-03-29          1
     10 │      502  502_6216_2021-03-29          1
     11 │      502  502_6216_2021-03-29          1
   ⋮    │    ⋮                ⋮               ⋮
 200012 │      670  670_5186_2021-05-07          1
 200013 │      670  670_5186_2021-05-07          1
 200014 │      670  670_5186_2021-05-07          1
 200015 │      670  670_5186_2021-05-07          1
 200016 │      670  670_5195_2021-05-07          1
 200017 │      670  670_5195_2021-05-07          1
 200018 │      670  670_5195_2021-05-07          1
 200019 │      670  670_5195_2021-05-07          1
 200020 │      670  670_5195_2021-05-07          1
 200021 │      670  670_5195_2021-05-07          1
 200022 │      670  670_5195_2021-05-07          1
                                200000 rows omitted

In [50]:
for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:store_transaction_key]]
    gp = groupby(k,:store_transaction_key)
    cnt = Dict()
    
    for j in 1:length(gp)
        if gp[j].storenum[1] in keys(cnt)
            cnt[gp[j].storenum[1]] = cnt[gp[j].storenum[1]] + 1
        else
            cnt[gp[j].storenum[1]] = 1
        end
    end
    
    ar = []
    
    for j in 1:length(d_store.i)
        if d_store.i[j] in keys(cnt)
            push!(ar,cnt[d_store.i[j]])
        else
            push!(ar,0)
        end
    end
    
    d = DataFrame()
    d.i = ar
    d_store = hcat(d_store,d,makeunique = true)
end

In [51]:
d_store

84×4 DataFrame
 Row │ i      i_1   i_2   i_3
     │ Int64  Any   Any   Any
─────┼────────────────────────
   1 │   502  3346  2087  303
   2 │   504  3624  2486  5
   3 │   505  7205  3091  1
   4 │   506  3608  1441  337
   5 │   507  5410  3308  0
   6 │   508  1369  1092  285
   7 │   509  2103  2759  380
   8 │   510  1875  816   204
   9 │   513  1893  1223  0
  10 │   514  3929  2291  0
  11 │   517  1271  1507  223
  ⋮  │   ⋮     ⋮     ⋮     ⋮
  75 │   655  2677  1385  385
  76 │   658  867   1552  0
  77 │   659  2257  459   106
  78 │   660  1620  1498  0
  79 │   664  5315  1037  276
  80 │   665  3063  2300  542
  81 │   666  942   1025  427
  82 │   667  2205  1367  296
  83 │   669  4537  1161  197
  84 │   670  2705  1123  287
               63 rows omitted

In [52]:
CSV.write("/home/vikas/Downloads/Breakfast_Weekday_storenum_vs_cluster.csv",d_store)

"/home/vikas/Downloads/Dinner_Weekday_storenum_vs_cluster.csv"

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Breakfast_Weekend.csv"))

df = df[:,[:storenum,:store_transaction_key,:cluster]]

d_store = DataFrame()
s = unique(df.storenum)
d_store.i = s

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:store_transaction_key]]
    gp = groupby(k,:store_transaction_key)
    cnt = Dict()
    
    for j in 1:length(gp)
        if gp[j].storenum[1] in keys(cnt)
            cnt[gp[j].storenum[1]] = cnt[gp[j].storenum[1]] + 1
        else
            cnt[gp[j].storenum[1]] = 1
        end
    end
    
    ar = []
    
    for j in 1:length(d_store.i)
        if d_store.i[j] in keys(cnt)
            push!(ar,cnt[d_store.i[j]])
        else
            push!(ar,0)
        end
    end
    
    d = DataFrame()
    d.i = ar
    d_store = hcat(d_store,d,makeunique = true)
end

CSV.write("/home/vikas/Downloads/Breakfast_Weekend_storenum_vs_cluster.csv",d_store)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Lunch_Weekday.csv"))

df = df[:,[:storenum,:store_transaction_key,:cluster]]

d_store = DataFrame()
s = unique(df.storenum)
d_store.i = s

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:store_transaction_key]]
    gp = groupby(k,:store_transaction_key)
    cnt = Dict()
    
    for j in 1:length(gp)
        if gp[j].storenum[1] in keys(cnt)
            cnt[gp[j].storenum[1]] = cnt[gp[j].storenum[1]] + 1
        else
            cnt[gp[j].storenum[1]] = 1
        end
    end
    
    ar = []
    
    for j in 1:length(d_store.i)
        if d_store.i[j] in keys(cnt)
            push!(ar,cnt[d_store.i[j]])
        else
            push!(ar,0)
        end
    end
    
    d = DataFrame()
    d.i = ar
    d_store = hcat(d_store,d,makeunique = true)
end

CSV.write("/home/vikas/Downloads/Lunch_Weekday_storenum_vs_cluster.csv",d_store)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Lunch_Weekend.csv"))

df = df[:,[:storenum,:store_transaction_key,:cluster]]

d_store = DataFrame()
s = unique(df.storenum)
d_store.i = s

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:store_transaction_key]]
    gp = groupby(k,:store_transaction_key)
    cnt = Dict()
    
    for j in 1:length(gp)
        if gp[j].storenum[1] in keys(cnt)
            cnt[gp[j].storenum[1]] = cnt[gp[j].storenum[1]] + 1
        else
            cnt[gp[j].storenum[1]] = 1
        end
    end
    
    ar = []
    
    for j in 1:length(d_store.i)
        if d_store.i[j] in keys(cnt)
            push!(ar,cnt[d_store.i[j]])
        else
            push!(ar,0)
        end
    end
    
    d = DataFrame()
    d.i = ar
    d_store = hcat(d_store,d,makeunique = true)
end

CSV.write("/home/vikas/Downloads/Lunch_Weekend_storenum_vs_cluster.csv",d_store)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Dinner_Weekday.csv"))

df = df[:,[:storenum,:store_transaction_key,:cluster]]

d_store = DataFrame()
s = unique(df.storenum)
d_store.i = s

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:store_transaction_key]]
    gp = groupby(k,:store_transaction_key)
    cnt = Dict()
    
    for j in 1:length(gp)
        if gp[j].storenum[1] in keys(cnt)
            cnt[gp[j].storenum[1]] = cnt[gp[j].storenum[1]] + 1
        else
            cnt[gp[j].storenum[1]] = 1
        end
    end
    
    ar = []
    
    for j in 1:length(d_store.i)
        if d_store.i[j] in keys(cnt)
            push!(ar,cnt[d_store.i[j]])
        else
            push!(ar,0)
        end
    end
    
    d = DataFrame()
    d.i = ar
    d_store = hcat(d_store,d,makeunique = true)
end

CSV.write("/home/vikas/Downloads/Dinner_Weekday_storenum_vs_cluster.csv",d_store)

In [ ]:
df = DataFrame(CSV.File("df_CPSB_Dinner_Weekend.csv"))

df = df[:,[:storenum,:store_transaction_key,:cluster]]

d_store = DataFrame()
s = unique(df.storenum)
d_store.i = s

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:storenum,:store_transaction_key]]
    gp = groupby(k,:store_transaction_key)
    cnt = Dict()
    
    for j in 1:length(gp)
        if gp[j].storenum[1] in keys(cnt)
            cnt[gp[j].storenum[1]] = cnt[gp[j].storenum[1]] + 1
        else
            cnt[gp[j].storenum[1]] = 1
        end
    end
    
    ar = []
    
    for j in 1:length(d_store.i)
        if d_store.i[j] in keys(cnt)
            push!(ar,cnt[d_store.i[j]])
        else
            push!(ar,0)
        end
    end
    
    d = DataFrame()
    d.i = ar
    d_store = hcat(d_store,d,makeunique = true)
end

CSV.write("/home/vikas/Downloads/Dinner_Weekend_storenum_vs_cluster.csv",d_store)

## Clusterwise transaction key vs sales amount

In [3]:
df = DataFrame(CSV.File("Dataset2.csv"))

6859688×11 DataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                    26.9159  ⋯
       2 │      502    710033  DEL SURCHARGE     M                     3.7383
       3 │      502         1  D-CASH            T                    30.6542
       4 │      502    700103  D-3PC ML(OR)      M                    58.4112
       5 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
       6 │      502         1  D-CASH            T                    62.1495
       7 │      502    710009  D-ZINGER          M                    10.9346
       8 │      502    700103  D-3PC ML(OR)      M                    46.729
       9 │      502    710033  DEL SURCHARGE     M                     3.7383  ⋯
      10 │      502         1  D-CASH            T                    61.4019
      11 │      502    922023  D-10 FOR $10      M                     9.3458
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 6859679 │      670    922110  2P(TG) ML         M                     8.3645
 6859680 │      670    450011  RWP>CF            M                     2.0561  ⋯
 6859681 │      670    914357  1P EGG TART       M                     1.215
 6859682 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859683 │      670    912781  1 OR ZNG BX       M                     8.5514
 6859684 │      670    450046  RFF>CFRIES        M                     1.8692  ⋯
 6859685 │      670    914357  1P EGG TART       M                     1.215
 6859686 │      670         8  D-eNETS CREDIT    T                    11.6355
 6859687 │      670    921046  5P ACB 30%        M                     9.6262
 6859688 │      670        15  DI-DBS PAYLAH     T                     9.62617 ⋯
                                              7 columns and 6859667 rows omitted

In [4]:
grp = groupby(df,:transaction_type)

GroupedDataFrame with 3 groups based on key: transaction_type
First Group (5214325 rows): transaction_type = "M"
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214315 │      670    200006  RT BEER -M        M                       2.757
 5214316 │      670    921046  5P ACB 30%        M                       9.626 ⋯
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056 ⋯
 5214321 │      670    914357  1P EGG TART       M                       1.215
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214325 │      670    921046  5P ACB 30%        M                       9.626
                                              7 columns and 5214303 rows omitted
⋮
Last Group (12833 rows): transaction_type = "D"
   Row │ storenum  item_key  item_description     transaction_type  sales_amou ⋯
       │ Int64     Int64     String               String            Float64    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      502      2000  25% EMP DISC         D                      -1.96 ⋯
     2 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     3 │      502      8027  10% OFF GES DEAL     D                      -1.81
     4 │      502      3007  $1-OFF(PAssion)      D                      -0.93
     5 │      504      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
     6 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     7 │      504      3007  $1-OFF(PAssion)      D                       0.93
     8 │      504      3007  $1-OFF(PAssion)      D                      -0.93
     9 │      504      5010  10% OFF(LSM)         D                      -0.94 ⋯
    10 │      504      8027  10% OFF GES DEAL     D                      -2.24
    11 │      505      5016  10% OFF xFOOD PANDA  D                      -1.07
   ⋮   │    ⋮         ⋮               ⋮                  ⋮               ⋮     ⋱
 12823 │      660      8027  10% OFF GES DEAL     D                      -0.46
 12824 │      660      8027  10% OFF GES DEAL     D                      -1.66 ⋯
 12825 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12826 │      664      3007  $1-OFF(PAssion)      D                      -0.93
 12827 │      664      8027  10% OFF GES DEAL     D                      -0.60
 12828 │      665      3007  $1-OFF(PAssion)      D                      -0.93 ⋯
 12829 │      665      3007  $1-OFF(PAssion)      D                      -0.93
 12830 │      665      5010  10% OFF(LSM)         D                      -0.46
 12831 │      666      3007  $1-OFF(PAssion)      D                      -0.93
 12832 │      670      8027  10% OFF GES DEAL     D                      -0.78 ⋯
 12833 │      670      8027  10% OFF GES DEAL     D                      -0.32
                                                7 columns and 12811 rows omitted

In [5]:
grp = grp[1]

5214325×11 SubDataFrame
     Row │ storenum  item_key  item_description  transaction_type  sales_amoun ⋯
         │ Int64     Int64     String            String            Float64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      502    916755  D-10P CKN BKT     M                      26.915 ⋯
       2 │      502    710033  DEL SURCHARGE     M                       3.738
       3 │      502    700103  D-3PC ML(OR)      M                      58.411
       4 │      502    710033  DEL SURCHARGE     M                       3.738
       5 │      502    710009  D-ZINGER          M                      10.934 ⋯
       6 │      502    700103  D-3PC ML(OR)      M                      46.729
       7 │      502    710033  DEL SURCHARGE     M                       3.738
       8 │      502    922023  D-10 FOR $10      M                       9.345
       9 │      502    913618  D-10P CKN 2-5PM   M                      16.822 ⋯
      10 │      502    710033  DEL SURCHARGE     M                       3.738
      11 │      502    916137  D-FM POT BWL      M                       5.0
    ⋮    │    ⋮         ⋮             ⋮                 ⋮               ⋮      ⋱
 5214316 │      670    921046  5P ACB 30%        M                       9.626
 5214317 │      670    922204  ZNG+SJ-R          M                       0.934 ⋯
 5214318 │      670    921048  15P ACB 30%       M                      25.420
 5214319 │      670    922110  2P(TG) ML         M                       8.364
 5214320 │      670    450011  RWP>CF            M                       2.056
 5214321 │      670    914357  1P EGG TART       M                       1.215 ⋯
 5214322 │      670    912781  1 OR ZNG BX       M                       8.551
 5214323 │      670    450046  RFF>CFRIES        M                       1.869
 5214324 │      670    914357  1P EGG TART       M                       1.215
 5214325 │      670    921046  5P ACB 30%        M                       9.626 ⋯
                                              7 columns and 5214304 rows omitted

In [6]:
gdf = groupby(grp,:store_transaction_key)

GroupedDataFrame with 1264699 groups based on key: store_transaction_key
First Group (2 rows): store_transaction_key = "502_1724_2021-03-29"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      502    916755  D-10P CKN BKT     M                      26.9159  O ⋯
   2 │      502    710033  DEL SURCHARGE     M                       3.7383  O
                                                               6 columns omitted
⋮
Last Group (1 row): store_transaction_key = "670_5319_2021-05-07"
 Row │ storenum  item_key  item_description  transaction_type  sales_amount  s ⋯
     │ Int64     Int64     String            String            Float64       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      670    921046  5P ACB 30%        M                       9.6262  S ⋯
                                                               6 columns omitted

In [7]:
df1 = combine(gdf,:sales_amount =>sum)

1264699×2 DataFrame
     Row │ store_transaction_key  sales_amount_sum
         │ String                 Float64
─────────┼─────────────────────────────────────────
       1 │ 502_1724_2021-03-29             30.6542
       2 │ 502_1725_2021-03-29             62.1495
       3 │ 502_1726_2021-03-29             61.4019
       4 │ 502_1727_2021-03-29             29.9065
       5 │ 502_1728_2021-03-29             29.6728
       6 │ 502_1729_2021-03-29             42.0093
       7 │ 502_1730_2021-03-29            111.682
       8 │ 502_1731_2021-03-29             18.6916
       9 │ 502_1732_2021-03-29             37.1028
      10 │ 502_1733_2021-03-29             25.1869
      11 │ 502_1734_2021-03-29             17.0094
    ⋮    │           ⋮                   ⋮
 1264690 │ 670_5310_2021-05-07              6.028
 1264691 │ 670_5311_2021-05-07             14.3925
 1264692 │ 670_5312_2021-05-07              3.972
 1264693 │ 670_5313_2021-05-07             34.6729
 1264694 │ 670_5314_2021-05-07              9.6262
 1264695 │ 670_5315_2021-05-07              0.9346
 1264696 │ 670_5316_2021-05-07             25.4206
 1264697 │ 670_5317_2021-05-07             11.6356
 1264698 │ 670_5318_2021-05-07             11.6356
 1264699 │ 670_5319_2021-05-07              9.6262
                               1264678 rows omitted

In [8]:
map_sales = Dict()

for i in 1:length(df1.store_transaction_key)
    map_sales[df1.store_transaction_key[i]] = df1.sales_amount_sum[i]
end

In [44]:
df = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekday_Clusters.csv"))

123724×2 DataFrame
    Row │ store_transaction_key  cluster
        │ String                 Int64
────────┼────────────────────────────────
      1 │ 654_7284_2021-03-28          1
      2 │ 502_2004_2021-04-03          1
      3 │ 502_2005_2021-04-03          1
      4 │ 502_2006_2021-04-03          1
      5 │ 502_2007_2021-04-03          1
      6 │ 502_2008_2021-04-03          1
      7 │ 502_2009_2021-04-03          1
      8 │ 502_2010_2021-04-03          1
      9 │ 502_2011_2021-04-03          1
     10 │ 502_2012_2021-04-03          1
     11 │ 502_2013_2021-04-03          1
   ⋮    │           ⋮               ⋮
 123715 │ 670_7725_2021-05-02          1
 123716 │ 670_7726_2021-05-02          1
 123717 │ 670_7727_2021-05-02          1
 123718 │ 670_7732_2021-05-02          1
 123719 │ 670_7733_2021-05-02          1
 123720 │ 670_7734_2021-05-02          1
 123721 │ 670_7735_2021-05-02          1
 123722 │ 670_7736_2021-05-02          1
 123723 │ 670_7737_2021-05-02          1
 123724 │ 563_7599_2021-05-02          1
                      123703 rows omitted

In [45]:
sales_amount = []

for i in 1:length(df.store_transaction_key)
    push!(sales_amount,map_sales[df.store_transaction_key[i]])
end

df.sales_amount = sales_amount

123724-element Vector{Any}:
 20.7945
 19.5794
 18.6448
 17.6635
 49.9532
 41.1214
 21.8691
 33.5046
 33.644800000000004
 45.841100000000004
 39.4391
 39.3457
 25.3272
  ⋮
 13.8784
 22.0094
  7.850499999999999
 41.3084
 17.1028
  7.944000000000001
 12.5234
  0.9346
  0.9346
  0.9346
  7.4299
  0.0

In [46]:
df

123724×3 DataFrame
    Row │ store_transaction_key  cluster  sales_amount
        │ String                 Int64    Any
────────┼──────────────────────────────────────────────
      1 │ 654_7284_2021-03-28          1  20.7945
      2 │ 502_2004_2021-04-03          1  19.5794
      3 │ 502_2005_2021-04-03          1  18.6448
      4 │ 502_2006_2021-04-03          1  17.6635
      5 │ 502_2007_2021-04-03          1  49.9532
      6 │ 502_2008_2021-04-03          1  41.1214
      7 │ 502_2009_2021-04-03          1  21.8691
      8 │ 502_2010_2021-04-03          1  33.5046
      9 │ 502_2011_2021-04-03          1  33.6448
     10 │ 502_2012_2021-04-03          1  45.8411
     11 │ 502_2013_2021-04-03          1  39.4391
   ⋮    │           ⋮               ⋮          ⋮
 123715 │ 670_7725_2021-05-02          1  7.8505
 123716 │ 670_7726_2021-05-02          1  41.3084
 123717 │ 670_7727_2021-05-02          1  17.1028
 123718 │ 670_7732_2021-05-02          1  7.944
 123719 │ 670_7733_2021-05-02          1  12.5234
 123720 │ 670_7734_2021-05-02          1  0.9346
 123721 │ 670_7735_2021-05-02          1  0.9346
 123722 │ 670_7736_2021-05-02          1  0.9346
 123723 │ 670_7737_2021-05-02          1  7.4299
 123724 │ 563_7599_2021-05-02          1  0.0
                                    123703 rows omitted

In [47]:
grp = groupby(df,:cluster)

GroupedDataFrame with 3 groups based on key: cluster
First Group (109349 rows): cluster = 1
    Row │ store_transaction_key  cluster  sales_amount
        │ String                 Int64    Any
────────┼──────────────────────────────────────────────
      1 │ 654_7284_2021-03-28          1  20.7945
      2 │ 502_2004_2021-04-03          1  19.5794
      3 │ 502_2005_2021-04-03          1  18.6448
      4 │ 502_2006_2021-04-03          1  17.6635
      5 │ 502_2007_2021-04-03          1  49.9532
      6 │ 502_2008_2021-04-03          1  41.1214
      7 │ 502_2009_2021-04-03          1  21.8691
      8 │ 502_2010_2021-04-03          1  33.5046
      9 │ 502_2011_2021-04-03          1  33.6448
     10 │ 502_2012_2021-04-03          1  45.8411
     11 │ 502_2013_2021-04-03          1  39.4391
   ⋮    │           ⋮               ⋮          ⋮
 109339 │ 670_7724_2021-05-02          1  22.0094
 109340 │ 670_7725_2021-05-02          1  7.8505
 109341 │ 670_7726_2021-05-02          1  41.3084
 109342 │ 670_7727_2021-05-02          1  17.1028
 109343 │ 670_7732_2021-05-02          1  7.944
 109344 │ 670_7733_2021-05-02          1  12.5234
 109345 │ 670_7734_2021-05-02          1  0.9346
 109346 │ 670_7735_2021-05-02          1  0.9346
 109347 │ 670_7736_2021-05-02          1  0.9346
 109348 │ 670_7737_2021-05-02          1  7.4299
 109349 │ 563_7599_2021-05-02          1  0.0
                                    109327 rows omitted
⋮
Last Group (2743 rows): cluster = 2
  Row │ store_transaction_key  cluster  sales_amount
      │ String                 Int64    Any
──────┼──────────────────────────────────────────────
    1 │ 502_4186_2021-04-03          2  50.6076
    2 │ 502_4189_2021-04-03          2  28.458
    3 │ 502_4195_2021-04-03          2  30.9346
    4 │ 502_4276_2021-04-03          2  22.3364
    5 │ 506_4081_2021-04-03          2  34.3925
    6 │ 506_4082_2021-04-03          2  25.4672
    7 │ 506_4083_2021-04-03          2  34.1589
    8 │ 506_4085_2021-04-03          2  27.0561
    9 │ 506_4088_2021-04-03          2  53.3179
   10 │ 506_4090_2021-04-03          2  29.8599
   11 │ 506_4093_2021-04-03          2  32.5701
  ⋮   │           ⋮               ⋮          ⋮
 2733 │ 667_7980_2021-05-02          2  29.8132
 2734 │ 669_7207_2021-05-02          2  26.028
 2735 │ 670_7574_2021-05-02          2  26.1216
 2736 │ 670_7593_2021-05-02          2  52.7571
 2737 │ 670_7594_2021-05-02          2  42.8506
 2738 │ 670_7595_2021-05-02          2  31.6357
 2739 │ 670_7605_2021-05-02          2  29.8598
 2740 │ 670_7609_2021-05-02          2  33.7851
 2741 │ 670_7631_2021-05-02          2  30.2338
 2742 │ 670_7640_2021-05-02          2  36.7757
 2743 │ 670_7642_2021-05-02          2  60.7477
                                    2721 rows omitted

In [48]:
for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:store_transaction_key,:sales_amount]]
    CSV.write("/home/vikas/Downloads/Breakfast_Weekday_Clusters_sales$i.csv",k)
end

In [ ]:
df = DataFrame(CSV.File("/home/vikas/Downloads/Breakfast_Weekend_Clusters.csv"))

sales_amount = []

for i in 1:length(df.store_transaction_key)
    push!(sales_amount,map_sales[df.store_transaction_key[i]])
end

df.sales_amount = sales_amount

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:store_transaction_key,:sales_amount]]
    CSV.write("/home/vikas/Downloads/Breakfast_Weekend_Clusters_sales$i.csv",k)
end

In [ ]:
df = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekday_Clusters.csv"))

sales_amount = []

for i in 1:length(df.store_transaction_key)
    push!(sales_amount,map_sales[df.store_transaction_key[i]])
end

df.sales_amount = sales_amount

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:store_transaction_key,:sales_amount]]
    CSV.write("/home/vikas/Downloads/Lunch_Weekday_Clusters_sales$i.csv",k)
end

In [ ]:
df = DataFrame(CSV.File("/home/vikas/Downloads/Lunch_Weekend_Clusters.csv"))

sales_amount = []

for i in 1:length(df.store_transaction_key)
    push!(sales_amount,map_sales[df.store_transaction_key[i]])
end

df.sales_amount = sales_amount

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:store_transaction_key,:sales_amount]]
    CSV.write("/home/vikas/Downloads/Lunch_Weekend_Clusters_sales$i.csv",k)
end

In [ ]:
df = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekday_Clusters.csv"))

sales_amount = []

for i in 1:length(df.store_transaction_key)
    push!(sales_amount,map_sales[df.store_transaction_key[i]])
end

df.sales_amount = sales_amount

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:store_transaction_key,:sales_amount]]
    CSV.write("/home/vikas/Downloads/Dinner_Weekday_Clusters_sales$i.csv",k)
end

In [ ]:
df = DataFrame(CSV.File("/home/vikas/Downloads/Dinner_Weekend_Clusters.csv"))

sales_amount = []

for i in 1:length(df.store_transaction_key)
    push!(sales_amount,map_sales[df.store_transaction_key[i]])
end

df.sales_amount = sales_amount

grp = groupby(df,:cluster)

for i in 1:length(grp)
    k = DataFrame(grp[i])
    k = k[:,[:store_transaction_key,:sales_amount]]
    CSV.write("/home/vikas/Downloads/Dinner_Weekend_Clusters_sales$i.csv",k)
end